
<div class="container-fluid">
   
    <h2> Assign Sub-Category To Category</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Assign Sub-Category To Category
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-2">Sub Category</div>
                                    
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlSubCategory" ng-model="ddlSubCategory" ng-init="ddlSubCategory=0" ng-required="">
                                                <option value="0">--Select--</option>
                                                <option ng-repeat="subCategory in subCategoryList" value="{{subCategoryList.subCategoryID}}">
                                                    {{subCategoryList.subCategoryName}}
                                                </option>
                                            </select>
                                        </div>
                                    
                                    <div class="col-md-2">Category</div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="ddlCategory" ng-model="ddlCategory" ng-init="ddlCategory=0" ng-required="">
                                            <option value="0">--Select--</option>
                                            <option ng-repeat="category in categoryList" value="{{category.ategoryID}}">
                                                {{category.categoryName}}
                                            </option>
                                        </select>
                                    </div>
                                   
                                </div>
                            </div>
                            
                           
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="saveAssignSubCategoryToCategory();" /></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Assign SubCategory To Category List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableDiseaseMaster" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sub Category </th>
                                            <th>Category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in subCategoryToCategoryList | filter : search" ng-class-odd="'striped'">
                                            <td>{{list.subCategoryName}}</td>
                                            <td>{{list.categoryName}}</td>
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="delete(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>