<script src="../js/table2excel.js"></script>
<div class="container-fluid">
    <h2>Bacteria Relation</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Bacteria Relation
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Medicine Name</label>
                                        </div>
                                        <div class="col-md-10">
                                            <select select2 class="form-control" ng-model="ddlMedicine" ng-init="ddlMedicine=0" required="" ng-change="getTableData()">
                                                <option value="0">--Select Medicine--</option>
                                                <option ng-repeat="list in medicineList" value="{{list.medicineID}}">
                                                    {{list.medicineName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Bacteria Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select select2 class="form-control" ng-model="ddlBacteria" ng-init="ddlBacteria=0" id="ddlBacteria" required="">
                                                <option value="0">--Select Bacteria--</option>
                                                <option ng-repeat="list in agentFactorList" value="{{list.bacteriaID}}">
                                                    {{list.agentFactor}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Medicine Action</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control" ng-model="ddlAction" ng-init="ddlAction=0" id="ddlAction" required="">
                                                <option value="0">--Select Medicine Action--</option>
                                                <option ng-repeat="list in statusList" value="{{list.medicinActionID}}">
                                                    {{list.statusFor}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-1" style="padding:5px">
                                            <button class="btn btn-xs btn-info" ng-click="AddBacteria()" ng-disabled="btndisabled">
                                                <span class="glyphicon glyphicon-plus"></span>Add
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="row" ng-if="addedBacteriaList.length > 0">
                                            <div class="col-md-12 col-sm-12 table table-sm table-responsive table-border">
                                                <table id="tableCalculators" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Bacteria Name</th>
                                                            <th>Medicine Action</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="list in addedBacteriaList" ng-class-odd="'striped'">
                                                            <td>{{list.agentFactor}}</td>
                                                            <td>{{list.statusFor}}</td>
                                                            <td><a href="" ng-click="deleteBacteriaList($index)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Remark</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" rows="5" id="comment" placeholder="Remark" ng-model="txtRemark" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Reference</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" rows="5" id="comment" placeholder="Reference" ng-model="txtReference" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <fieldset>
                                            <legend>Reference</legend>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <select select2 class="form-control" ng-model="ddlBook" ng-init="ddlBook=0" required="">
                                                        <option value="0">--Select Book--</option>
                                                        <option ng-repeat="list in bookList" value="{{list.id}}">
                                                            {{list.bookName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3"><input type="text" class="form-control" placeholder="Page No." ng-model="txtPageNo" /></div>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" placeholder="Edition" ng-model="txtEdition" />
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" placeholder="Reference URL" ng-model="txtURLReference" />
                                                </div>

                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="form-group col-md-12" margin-left>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="button" class="btn btn-success" value="Save" ng-click="saveBacteriaRelation();" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Bacteria Relation List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class=" form-row col-md-12">
                                <div class="row">
                                </div>
                            </div>
                            <button class="btn btn-link" ng-click="exportData()">
                                <span class="glyphicon glyphicon-share"></span>
                                Export to Excel
                            </button>

                            <input type="button" class="btn btn-success" value="Print" ng-click="printDiv('divPrint');" />
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh" id="divPrint">
                                <table id="tableMedicineReport" class="table table-bordered" style="table-layout:fixed; width:100%;border-style:solid;border-color:black;border-width:1px;" rules="all">
                                    <!--<table id="tableTroughValue" class="table table-bordered">-->
                                    <thead>
                                        <tr>
                                            <th style="word-wrap:break-word;" class="hideonprint">Action</th>
                                            <th style="word-wrap:break-word;">Medicine Name</th>
                                            <th style="word-wrap:break-word;">Bacteria Name</th>
                                            <th style="word-wrap:break-word;">Medicine Action</th>
                                            <th style="word-wrap:break-word;">Remark</th>
                                            <th style="word-wrap:break-word;">Reference</th>
                                            <th style="word-wrap:break-word;">Book Name</th>
                                            <th style="word-wrap:break-word;">Page No.</th>
                                            <th style="word-wrap:break-word;">Edition</th>
                                            <th style="word-wrap:break-word;">Reference URL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in bacteriaRelationList | filter : search" ng-class-odd="'striped'">
                                            <td class="hideonprint"><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="deleteBacteriaRelation(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            <td style="word-wrap:break-word;">{{list.medicineName}}</td>
                                            <td style="word-wrap:break-word;">{{list.agentFactor}}</td>
                                            <td style="word-wrap:break-word;">{{list.statusFor}}</td>
                                            <!--<td>

                                                <table rules="rows" style="width:100%;border:1px solid #000;" ng-if="list.bacteriaDetails.length > 0">
                                                    <thead class="theadCustom">
                                                        <tr>
                                                            <td class="col-md-2 labelHeadStyle">Bacteria Name</td>
                                                            <td class="col-md-2 labelHeadStyle">Medicine Action</td>
                                                            <td class="col-md-2 labelHeadStyle">Action</td>

                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbodyCustomList">
                                                        <tr ng-repeat="process in list.bacteriaDetails">
                                                            <td>{{process.agentFactor}}</td>
                                                            <td>{{process.statusFor}}</td>
                                                            <td><a href="" ng-click="deleteBacteriaList(process.id)" title="delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </td>-->
                                            <td style="word-wrap:break-word;">{{list.remark}}</td>
                                            <td style="word-wrap:break-word;">{{list.reference}}</td>
                                            <td style="word-wrap:break-word;">{{list.bookName}}</td>
                                            <td style="word-wrap:break-word;">{{list.pageNo}}</td>
                                            <td style="word-wrap:break-word;">{{list.edition}}</td>
                                            <td style="word-wrap:break-word;">{{list.url}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
