
<div class="container-fluid">

    <!--<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="views/dashboard.html/#form1">Recommended Dietary Allowance</a></li>
        <li><a data-toggle="tab" href="views/dashboard.html/#form2">Food Limit</a></li>
        <li><a data-toggle="tab" href="views/dashboard.html/#form3">Food Family</a></li>
    </ul>-->
    <h2>Update Profile</h2>
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Update Profile
                    </div>
                    <div class="panel-body">
                        <form name="form">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">User Name</div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="User Name" ng-model="userName" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">Login Id</div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="Login Id" ng-model="userLoginID" disabled>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">Mobile No.</div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="Mobile No." ng-model="userMobileNo" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">Email ID</div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="Email ID" ng-model="userEmailID" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">Old Password</div>
                                        <div class="col-md-10">
                                            <input type="password" class="form-control" ng-model="txtOldPassword" placeholder="Old Password" style="color:black;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">New Password</div>
                                        <div class="col-md-10">
                                            <input type="password" class="form-control" ng-model="txtNewPassword" placeholder="New Password" style="color:black;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">Confirm Password</div>
                                        <div class="col-md-10">
                                            <input type="password" class="form-control" ng-model="txtRePassword" placeholder="Confirm Password" style="color:black;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-3"><input type="button" class="btn btn-success" value="Update" ng-click="UpdateUserPassword();" /></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
