
<div class="container-fluid">
    <h3>Department Master</h3>
    <div class="col-md-12 col-sm-12 noPadding">
        <div class="col-md-6 noPadding">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <label class="labelHeadStyle">Department</label>
                </div>
                <div class="panel-body">
                    <form name="department" ng-submit="department.$valid && SaveDepartment()">
                        <div class="col-md-12 col-sm-12 noPadding marginBottom1rem">
                            <div class="col-md-2"><label class="labelHeadStyle">Department</label></div>
                            <div class="col-md-6">
                                <input type="text" ng-model="txtDepartment" class="form-control" placeholder="Department" required="" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 noPaddingRight">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <label class="labelHeadStyle">Department List</label>
                </div>
                <div class="panel-body" style="height: 50rem;overflow: scroll;">
                    <div class="col-md-12 col-sm-12 marginBottom1rem noPadding">
                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                    </div>
                    <div class="col-md-12 col-sm-12 marginBottom1rem noPadding">
                        <table id="tableDepartment" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>Department</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in departmentList | filter : search" ng-class-odd="'striped'">
                                    <td>{{$index + 1}}</td>
                                    <td>{{list.departmentName}}</td>
                                    <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> <a href="" ng-click="delete(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>