
<div class="container-fluid">

   
    <h2>Add Disease's Complications</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Assign Disease Complications
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-4">Disease</div>
                                    <div class="col-md-8">
                                        <select select2 class="form-control" id="ddlDisease" ng-model="ddlDisease" ng-init="ddlDisease=0" ng-required="">
                                            <option value="0">--Select--</option>
                                            <option ng-repeat="disease in diseaseList" value="{{disease.diseaseID}}">
                                                {{disease.diseaseName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-2">Complications</div>
                                    <div class="col-md-4">
                                        <select select2 class="form-control" id="ddlComplications" ng-model="ddlComplications" ng-init="ddlComplications=0" ng-required="">
                                            <option value="0">--Select--</option>
                                            <option ng-repeat="disease in complicationsList" value="{{disease.diseaseID}}">
                                                {{disease.diseaseName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">Reamrk</div>
                                    <div class="col-md-4">
                                        <input type="TEXT" class="form-control" ng-model="txtRemark" />
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-xs btn-info" ng-click="AddDiseaseComplications()" ng-disabled="isDisabled">
                                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row" ng-if="diseaseComplicationsList.length>0">
                                    <div class="col-md-12">
                                        <table id="tableCalculators" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Disease</th>
                                                    <th>Complications</th>
                                                    <th>Reamrk</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="list in diseaseComplicationsList" ng-class-odd="'striped'">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{list.diseaseName}}</td>
                                                    <td>{{list.complicationsName}}</td>
                                                    <td>{{list.remark}}</td>
                                                    <td><a href="" ng-click="deleteDiseaseComplications($index)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="saveDiseaseComplications();" /></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Disease Complications List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableDiseaseMaster" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Disease</th>
                                            <th>Complications</th>
                                            <th>Remark</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in addedDiseaseComplicationsList | filter : search" ng-class-odd="'striped'">
                                            <td>{{list.diseaseName}}</td>
                                            <td>{{list.complicationsName}}</td>
                                            <td>{{list.remark}}</td>
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="delete(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>