
<div class="container-fluid">

    <!--<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="views/dashboard.html/#form1">Recommended Dietary Allowance</a></li>
        <li><a data-toggle="tab" href="views/dashboard.html/#form2">Food Limit</a></li>
        <li><a data-toggle="tab" href="views/dashboard.html/#form3">Food Family</a></li>
    </ul>-->
    <h2>Disease Master</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Add Disease
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3">Body Organ</div>
                                    <div class="col-md-3">
                                        <select class="form-control" ng-model="ddlBodyOrgan" ng-init="ddlBodyOrgan=-1" required="" ng-change="GetDiseaseMasterList()">
                                            <option value="-1">--Select--</option>
                                            <option ng-repeat="organ in organList" value="{{organ.bodyOrganId}}">
                                                {{organ.bodyOrgan}}
                                            </option>
                                            <option value="0">All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">Disease Name</div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" ng-model="txtDiseaseName" placeholder="Disease Name" />
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="button" class="btn btn-success" value="Save" ng-click="SaveDiseaseMaster()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Disease List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableDiseaseMaster" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Organ</th>
                                            <th>Disease</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in diseaseMasterList | filter : search" ng-class-odd="'striped'">
                                            <td>{{list.organ}}</td>
                                            <td>{{list.disease}}</td>
                                            <td><a href="" ng-click="edit($index,list.diseaseID)" title="Edit"><i class="fa fa-edit"></i></a> <a href="" ng-click="deleteDiseaseMaster(list.diseaseID)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            <!--<td><i class="fa fa-eye" style="color:deepskyblue" tooltip="View" ng-click="viewHistoryDetails(history)">&nbsp;View</i></td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>