
<div class="container-fluid">
    <h2>Disease Stage</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Disease Stage
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <fieldset>
                                <legend>Disease Department</legend>
                                <div class="form-group col-md-12">
                                    <div class="row">

                                        <div class="col-md-1"><b>Disease</b></div>
                                        <div class="col-md-3">

                                            <select class="form-control" ng-model="ddlDepartment" ng-init="ddlDepartment=0" required="">
                                                <option value="0">--Select Disease Ref--</option>
                                                <option ng-repeat="list in departmentList" value="{{list.diseaseDepartmentID}}">
                                                    {{list.diseaseDepartmentName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-1"><b>Type</b></div>
                                        <div class="col-md-3">
                                            <input type="radio" ng-model="rdType" ng-init="rdType=C" value="C" />Classification &nbsp;&nbsp;
                                            <input type="radio" ng-model="rdType" ng-init="rdType=C" value="S" />Stage &nbsp;&nbsp;

                                        </div>
                                        <div class="col-md-1"><b>Stage Name</b></div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" ng-model="txtStageName" placeholder="Stage Name" />
                                        </div>




                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">

                                        <div class="col-md-1"><b>Stage Defintion</b></div>
                                        <div class="col-md-10">
                                            <textarea class="form-control" ng-model="txtStageDefintion" placeholder="Stage Defintion" rows="4"></textarea>
                                        </div>



                                        <div class="col-md-1">
                                            <button class="btn btn-xs btn-info" ng-click="addStage()" ng-disabled="isDisabled">
                                                <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
                                            </button>
                                        </div>


                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row" ng-if="addedStageList.length>0">
                                        <div class="col-md-12">
                                            <table id="tableCalculators" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Type</th>
                                                        <th>Stage Name</th>
                                                        <th>Description</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="list in addedStageList" ng-class-odd="'striped'">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{list.type}}</td>
                                                        <td>{{list.stageName}}</td>
                                                        <td>{{list.stageDefintion}}</td>

                                                        <td><a href="" ng-click="deleteAddedStageList($index)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>


                        </div>


                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="saveDiseaseStage();" /></div>
                                <div class="col-md-3"><input type="button" class="btn btn-primary" value="Reset" ng-click="clr();" /></div>
                            </div>
                        </div>
                    </form>
                                            </div>


                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Disease Stage/Classification List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableMedicineDose" class="table table-bordered">
                                    <thead>
                                        <tr>

                                            <th>Action</th>
                                            <th>Disease(Department)</th>
                                            <th>Stage Details</th>
                                            

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in diseaseStageList | filter : search" ng-class-odd="'striped'">

                                            <td><a href="" ng-click="edit(list.id,list.diseaseDepartmentID)" title="Edit"><i class="fa fa-edit"></i></a> </td>
                                            <td>{{list.diseaseDepartmentName}}</td>
                                            <td ng-bind-html="list.stageDetails| renderHTMLCorrectly ">{{list.stageDetails}}</td>
                                           
                                            
                                          
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    
</div>