<div class="container-fluid">
    <h2>Disease Images Upload</h2>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Disease Images Upload
            </div>
            <div class="panel-body">
                <form name="form">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-2">Disease Department</div>
                                <div class="col-md-10">
                                    <select select2 class="form-control" ng-model="ddlDisease" ng-init="ddlDisease=-1" required="">
                                        <option value="-1">--Select Disease--</option>
                                        <option ng-repeat="disease in diseaseList" value="{{disease.id}}">
                                            {{disease.disease}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-2">Heading</div>
                                <div class="col-md-4">
                                    <select select2 class="form-control" ng-model="ddlHeading" ng-init="ddlHeading=-1" ng-required="">
                                        <option value="-1">--Select Heading--</option>
                                        <option ng-repeat="list in headingList" value="{{list.headingID}}">
                                            {{list.heading}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">Upload Images</div>
                                <div class="col-md-4">
                                    <input type="file" id="fileDiseaseImage" name="fileDiseaseImage" ng-files="getDiseaseImagesFiles($files)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-2">Remark:</div>
                                <div class="col-md-10">
                                    <textarea type="text" class="form-control" ng-model="txtRemark" placeholder="Remark" />
                                </div>

                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="button" class="btn btn-success pull-right" value="Save" ng-click="saveDiseaseImagesUpload();" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Disease Images List
            </div>
            <div class="panel-body">
                <form name="form">
                    <div class="form-row">
                        <div class=" form-row col-md-12 col-sm-12">
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                            <table id="tableTroughValue" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Disease Department</th>
                                        <th>Heading</th>
                                        <th>Images URL</th>
                                        <th>Remark</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in diseaseImageList | filter : search" ng-class-odd="'striped'">
                                        <td>{{$index+1}}</td>
                                        <td>{{list.disease}}</td>
                                        <td>{{list.heading}}</td>
                                        <td>{{list.imagePath}}</td>
                                        <td>{{list.remark}}</td>
                                        <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="deleteDiseaseImagesUpload(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
