<script src="../js/table2excel.js"></script>
<div class="container-fluid">
    <h2>Docking Report by Score</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Docking Report by Score

                    <button class="btn btn-link pull-right" ng-click="exportData()">
                        <span class="glyphicon glyphicon-share"></span>
                        Export to Excel
                    </button>
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">                            
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" id="divNutrientRank" style="max-height:100vh">
                                <!--<table id="tblNutrientRank" class="table table-bordered">
        </table>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>