
<div class="container-fluid">
    <h2>Food Recipe Category</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Add Food Recipe Category
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <select select2 class="form-control" id="ddlFoodName" ng-model="ddlFoodName" ng-init="ddlFoodName=-1" required="" ng-change="foodRecipeAssignList();">
                                            <option value="-1">--Select Food -</option>
                                            <option ng-repeat="list in foodMaster" value="{{list.id}}">
                                                {{list.foodName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="panel-body">
                                    <div class="form-row">
                                        <div class=" form-row col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search1">
                                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:50vh">
                                            <table id="tbl1" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" ng-model="selectAll" ng-click="toggleSelect()" /></th>
                                                        <th>Food Recipe Category</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="list in visibleItems = (foodRecipeCategory | filter : search1)" ng-class-odd="'striped'">
                                                        <td><input type="checkbox" name="{{list.id}}" value="{{list.reciepCategory}}" ng-model="list.selected"></td>
                                                        <td>{{list.reciepCategory}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="saveFoodRecipeCategory();" /></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Food Recipe Category List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tbl2" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Food Name</th>
                                            <th>food Recipe Category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in foodRecipeAssign | filter : search" ng-class-odd="'striped'">
                                            <td>{{$index + 1}}</td>
                                            <td>{{list.foodName}}</td>
                                            <td>{{list.reciepCategory}}</td>
                                            <td><a href="" ng-click="deleteFoodRecipeCategory(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>