
<div class="container-fluid">

    <!--<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="views/dashboard.html/#form1">Recommended Dietary Allowance</a></li>
        <li><a data-toggle="tab" href="views/dashboard.html/#form2">Food Limit</a></li>
        <li><a data-toggle="tab" href="views/dashboard.html/#form3">Food Family</a></li>
    </ul>-->
    <h2>Food Search List</h2>
  
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Food List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableActiveCompounds" class="table table-bordered">
                                    <thead>
                                        <tr>                                            
                                            <th>Food Name</th>
                                            <th>Unit</th>
                                            <th>Food Type</th>
                                            <th>Category Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in masterActiveCompoundsList | filter : search" ng-class-odd="'striped'">                                            
                                            <td>{{list.foodName}}</td>
                                            <td>{{list.unitName}}</td>
                                            <td>{{list.type}}</td>
                                            <td>{{list.categoryname}}</td>
                                            <td><a href="" ng-click="add(list.foodName, list.id)" title="Add"><i class="fa fa-plus"></i></a> | 
                                            <a href="" ng-click="delete(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Food Search List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <!--<input food-auto-complete type="text" class="form-control" placeholder="Search food..." id="food" />-->
                                       
                                    </div>
                                </div>
                            </div>
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search1">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableFood" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Food Name</th>
                                            <th>Group</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in foodList | filter : search1" ng-class-odd="'striped'">
                                            <td>{{list.foodName}}</td>
                                            <td>{{list.groupname}}</td>
                                            <td>
                                                <a ui-sref="foodMaster({foodID:{{list.foodID}}})" title="Add"><i class="fa fa-edit"></i></a> |
                                                <a href="" ng-click="deleteFood(list.foodID)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>   
</div>