
<div class="container-fluid">
    <h2>Meal Food Assign</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Meal Food Assign
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Meal Type</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlMeal" ng-model="ddlMeal" ng-init="ddlMeal=-1" required="">
                                                <option value="-1">--Select Type--</option>
                                                <option ng-repeat="list in mealMaster" value="{{list.id}}">
                                                    {{list.meal}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Food Category</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select select2 class="form-control" id="ddlCategory" ng-model="ddlCategory" ng-init="ddlCategory=-1" required="">
                                                <option value="-1">--Select Type--</option>
                                                <option ng-repeat="list in foodGroup" value="{{list.id}}">
                                                    {{list.groupname}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Food Group</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlFood" ng-model="ddlFood" ng-init="ddlFood=-1" required="" ng-change="getFoodName();">
                                                <option value="-1">--Select Type--</option>
                                                <option ng-repeat="list in foodCategory" value="{{list.id}}">
                                                    {{list.categoryname}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Food Name</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select select2 class="form-control" id="ddlFoodName" ng-model="ddlFoodName" ng-init="ddlFoodName=-1" required="">
                                                <option value="-1">--Select Type--</option>
                                                <option ng-repeat="list in foodMaster" value="{{list.id}}">
                                                    {{list.foodName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12" margin-left>
                                        <div class="row">
                                            <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="saveMealFoodAssign();" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Meal Food Assign List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class=" form-row col-md-12">
                                <div class="row">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableTroughValue" class="table table-bordered">
                                    <thead>
                                        <tr>        
                                            <th>Action</th>
                                            <th>Meal Type</th>
                                            <th>Food Category</th>
                                            <th>Food Group</th>
                                            <th>Food Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in mealFoodAssign | filter : search" ng-class-odd="'striped'">
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="deleteMealFoodAssign(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            <td>{{list.meal}}</td>
                                            <td>{{list.groupname}}</td>
                                            <td>{{list.categoryname}}</td>
                                            <td>{{list.foodName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>