
<div class="container-fluid">

   
    <h2>Add Medicine's Elimination</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Assign Medicine Elimination
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3">Medicine</div>
                                    <div class="col-md-8">
                                        <select class="form-control" id="ddlMedicine" ng-model="ddlMedicine" ng-init="ddlMedicine=0" ng-required="">
                                            <option value="0">--Select--</option>
                                            <option ng-repeat="medicine in medicineList" value="{{medicine.medicineId}}">
                                                {{medicine.medicineName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3">Elimination</div>
                                    <div class="col-md-8">
                                        <select class="form-control" id="ddlElimination" ng-model="ddlElimination" ng-init="ddlElimination=0" ng-required="">
                                            <option value="0">--Select--</option>
                                            <option ng-repeat="elimination in eliminationList" value="{{elimination.eliminationId}}">
                                                {{elimination.eliminationName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-xs btn-info" ng-click="AddMedicineElimination()" ng-disabled="isDisabled">
                                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Add
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="row" ng-if="medicineEliminationList.length>0">
                                    <div class="col-md-12">
                                        <table id="tableCalculators" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Medicine</th>
                                                    <th>Elimination</th>

                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="list in medicineEliminationList" ng-class-odd="'striped'">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{list.medicineName}}</td>
                                                    <td>{{list.medicineEliminationName}}</td>


                                                    <td><a href="" ng-click="deleteMedicineElimination($index)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12">
                                <fieldset>
                                    <legend>Reference</legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <select class="form-control" ng-model="ddlbookname" ng-init="ddlbookname=0" required="">
                                                <option value="0">--Select Book--</option>
                                                <option ng-repeat="list in bookList" value="{{list.bookID}}">
                                                    {{list.bookName}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-3"><input type="text" class="form-control" placeholder="Page No." ng-model="txtpageno" /></div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Edition" ng-model="txtedition" onkeypress="isNumeric(1)" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Reference URL" ng-model="txtReference" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 padding1rem">
                                        <div class="row">
                                            <div class="col-md-1">Remark</div>
                                            <div class="col-md-11">
                                                <textarea class="form-control" placeholder="Details..." ng-model="txtRemark"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="saveMedicineElimination();" /></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Medicine Elimination List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableDiseaseMaster" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Medicine</th>
                                            <th>Elimination</th>
                                            <th>Book Name</th>
                                            <th>Page No</th>
                                            <th>Edition</th>
                                            <th>Reference</th>
                                            <th>Remark</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in addedMedicineEliminationList | filter : search" ng-class-odd="'striped'">
                                            <td>{{list.medicineName}}</td>
                                            <td>{{list.eliminationName}}</td>
                                            <td>{{list.bookName}}</td>
                                            <td>{{list.pageNo}}</td>
                                            <td>{{list.edition}}</td>
                                            <td>{{list.reference}}</td>
                                            <td>{{list.remark}}</td>
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="delete(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>