
<div class="container-fluid">
    <h2>Medicine Trough Value</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Add Trough Value
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-1">Medicine</div>
                                    <div class="col-md-11">
                                        <select select2 class="form-control" id="ddlMedicine" ng-model="ddlMedicine" ng-init="ddlMedicine=-1" required="" ng-change="CheckTroughMedicineExistence(ddlMedicine)">
                                            <option value="-1">--Select--</option>
                                            <option ng-repeat="list in medicineList" value="{{list.id}}">
                                                {{list.medicineName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12">
                                <fieldset>
                                    <legend>Trough Value</legend>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Min Trough Value" ng-model="txtMinTroughValue" onkeypress="isNumeric(1)" />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Max Trough Value" ng-model="txtMaxTroughValue" onkeypress="isNumeric(1)" />
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlUnit" ng-model="ddlUnit" ng-init="ddlUnit=0" required="">
                                                <option value="0">--Select--</option>
                                                <option ng-repeat="list in unitList" value="{{list.id}}">
                                                    {{list.name}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" placeholder="Remark" ng-model="txtRemark" />
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-md-3">
                                            <select select2 class="form-control" id="ddlProblem" ng-model="ddlProblem" ng-init="ddlProblem=-1" required="">
                                                <option value="-1">--Select Problem--</option>
                                                <option ng-repeat="list in ProblemMasterList" value="{{list.id}}">
                                                    {{list.problemName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Dose From" ng-model="txtDoseFrom" onkeypress="isNumeric(1)" />
                                        </div>

                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Dose To" ng-model="txtDoseTo" onkeypress="isNumeric(1)" />
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control" id="ddlDoseUnit" ng-model="ddlDoseUnit" ng-init="ddlDoseUnit=-1" required="">
                                                <option value="-1">--Select Dose Unit--</option>
                                                <option ng-repeat="list in unitList" value="{{list.id}}">
                                                    {{list.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Time From" ng-model="txtTimeFrom" onkeypress="isNumeric(1)" />
                                        </div>

                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Time To" ng-model="txtTimeTo" onkeypress="isNumeric(1)" />
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" id="ddlTimeUnit" ng-model="ddlTimeUnit" ng-init="ddlTimeUnit=-1" required="">
                                                <option value="-1">--Select Time Unit--</option>
                                                <option ng-repeat="list in unitTimeList" value="{{list.id}}">
                                                    {{list.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>                           
                            <div class="form-group col-md-12">
                                <fieldset>
                                    <legend>Reference</legend>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <select class="form-control" ng-model="ddlBook" ng-init="ddlBook=0" required="">
                                                <option value="0">--Select Book--</option>
                                                <option ng-repeat="list in bookList" value="{{list.id}}">
                                                    {{list.bookName}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="Page No." ng-model="txtPageNo" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Edition" ng-model="txtEdition" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="URL" ng-model="txtReference" />
                                        </div>
                                    </div>
                                    </fieldset>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="SaveMedicineTroughValue();" /></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Trough value List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableTroughValue" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Medicine</th>
                                            <th>Unit</th>
                                            <th>Min Trough Value</th>
                                            <th>Max Trough Value</th>
                                            <th>Remark</th>
                                            <th>Book</th>
                                            <th>Page No</th>
                                            <th>Edition</th>
                                            <th>Reference</th>
                                            <th>Problem</th>
                                            <th>Dose From</th>
                                            <th>Dose To</th>
                                            <th>Dose Unit</th>
                                            <th>Time From</th>
                                            <th>Time To</th>
                                            <th>Time Unit</th>
											<th>Created Date</th>
                                            <th>Created By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in medicineTroughValueList | filter : search" ng-class-odd="'striped'">
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a>   <a href="" ng-click="deleteMedicineTroughValue(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            <td>{{list.medicineName}}</td>
                                            <td>{{list.unitName}}</td>
                                            <td>{{list.minTroughValue}}</td>
                                            <td>{{list.maxTroughValue}}</td>
                                            <td>{{list.remark}}</td>
                                            <td>{{list.bookName}}</td>
                                            <td>{{list.pageNo}}</td>
                                            <td>{{list.edition}}</td>
                                            <td>{{list.reference}}</td>
                                            <td>{{list.problemName}}</td>
                                            <td>{{list.doseFrom}}</td>
                                            <td>{{list.doseTo}}</td>
                                            <td>{{list.doseUnit}}</td>
                                            <td>{{list.timeFrom}}</td>
                                            <td>{{list.timeTo}}</td>
                                            <td>{{list.timeUnit}}</td>
											<td>{{list.createdDate}}</td>
											<td>{{list.userName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>