<div class="container-fluid">
    <h2>Medicine Route Administration</h2>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Medicine Route Administration
            </div>
            <div class="panel-body">
                <form name="form">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-2">Medicine</div>
                                <div class="col-md-10">
                                    <select select2 class="form-control" ng-model="ddlmedicine" ng-init="ddlmedicine=0" ng-required="">
                                        <option value="0">--Select--</option>
                                        <option ng-repeat="list in medicineList" value="{{list.medicineID}}">
                                            {{list.medicineName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-2">Route</div>
                                <div class="col-md-10">
                                    <select select2 class="form-control" ng-model="ddlroute" ng-init="ddlroute=0" ng-required="">
                                        <option value="0">--Select--</option>
                                        <option ng-repeat="list in routeList" value="{{list.routeAdministrationID}}">
                                            {{list.routeName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 noPadding">
                            <div class="col-md-2">Book Name</div>
                            <div class="col-md-4">
                                <select class="form-control" id="ddlBookName" ng-model="ddlbookName" ng-init="ddlbookName=-1" required="">
                                    <option value="-1">--Select Type--</option>
                                    <option ng-repeat="list in bookList" value="{{list.bookID}}">
                                        {{list.bookName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Page No." ng-model="txtpageno" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Edition" ng-model="txtedition" onkeypress="isNumeric(1)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-2">Reference</div>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" ng-model="txtreference" placeholder="Reference" rows="3" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-3 text-left">
                                <input type="button" class="btn btn-success" value="Save" ng-click="saveMedicineRouteAdministration();" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            Medicine Route Administration List
        </div>
        <div class="panel-body">
            <form name="form">
                <div class="form-row">
                    <div class=" form-row col-md-12 col-sm-12">
                        <div class="row">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                        <table id="tableDiseaseMaster" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Medicine Name</th>
                                    <th>Route Name</th>
                                    <th>Book Name</th>
                                    <th>Page No</th>
                                    <th>Edition</th>
                                    <th>Reference</th>
                                    <th>Entry Date</th>
                                    <th>Entry By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in medicineAdministrationList | filter : search" ng-class-odd="'striped'">
                                    <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="delete(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                    <td>{{list.medicineName}}</td>
                                    <td>{{list.routeName}}</td>
                                    <td>{{list.bookName}}</td>
                                    <td>{{list.pageNo}}</td>
                                    <td>{{list.edition}}</td>
                                    <td>{{list.reference}}</td>
                                    <td>{{list.createdDate}}</td>
                                    <td>{{list.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


