
<div class="container-fluid">

    <!--<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="views/dashboard.html/#form1">Recommended Dietary Allowance</a></li>
        <li><a data-toggle="tab" href="views/dashboard.html/#form2">Food Limit</a></li>
        <li><a data-toggle="tab" href="views/dashboard.html/#form3">Food Family</a></li>
    </ul>-->
    <h2>Merge Pathway Keywords</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Merge Pathway Keywords
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-2">Old Keywords</div>
                                    <div class="col-md-4">
                                        <select select2 class="form-control" id="ddlOldPathwayKeywords" ng-model="ddlOldPathwayKeywords" ng-init="ddlOldPathwayKeywords=0" ng-required="">
                                            <option value="0">--Select--</option>
                                            <option ng-repeat="list in oldPathwayNutrientList" value="{{list.keyword}}">
                                                {{list.keyword}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">New Keywords</div>
                                    <div class="col-md-4">
                                        <select select2 class="form-control" id="ddlNewPathwayKeywords" ng-model="ddlNewPathwayKeywords" ng-init="ddlNewPathwayKeywords=0" ng-required="">
                                            <option value="0">--Select--</option>
                                            <option ng-repeat="list in newPathwayNutrientList" value="{{list.nutrientName}}">
                                                {{list.nutrientName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3"><input type="button" class="btn btn-success" value="Merge" ng-click="saveMergePathwayKeywords()" /></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>