
<div class="container-fluid">
    <h2>Nutrient Channel Master</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Nutrient Channel Master
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Nutrient Name</label>
                                        </div>
                                        <div class="col-md-10">
                                            <select select2 class="form-control" ng-model="ddlNutrient" ng-init="ddlNutrient=-1" required="">
                                                <option value="-1">--Select Nutrient--</option>
                                                <option ng-repeat="list in nutrientList" value="{{list.nutrientID}}">
                                                    {{list.nutrientName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Channel Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select select2 class="form-control" ng-model="ddlChannel" id="ddlChannel" ng-init="ddlChannel=-1" required="">
                                                <option value="-1">--Select Channel--</option>
                                                <option ng-repeat="list in channelList" value="{{list.channelNutrientID}}">
                                                    {{list.nutrientName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-1" style="padding:5px">
                                            <button class="btn btn-xs btn-info" ng-click="AddChannel()" >
                                                <span class="glyphicon glyphicon-plus"></span>Add
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="row" ng-if="addedChannelList.length > 0">
                                            <div class="col-md-12 col-sm-12 table table-sm table-responsive table-border">
                                                <table id="tableCalculators" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Channel Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="list in addedChannelList" ng-class-odd="'striped'">
                                                            <td>{{list.nutrientName}}</td>
                                                            <td><a href="" ng-click="deleteChannelList($index)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12" margin-left>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="button" class="btn btn-success" value="Save" ng-click="saveNutrientChannelMaster();" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Nutrient Channel Master List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class=" form-row col-md-12">
                                <div class="row">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableTroughValue" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Nutrient Name</th>
                                            <th>Channel Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in nutrientChannelList | filter : search" ng-class-odd="'striped'">
                                            <td><a href="" ng-click="edit(list.nutrientID)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="deleteNutrientChannelMaster(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            <td>{{list.nutrientName}}</td>
                                            <td>{{list.channelName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
