
<div class="container-fluid">
    <h2>Nutrient Inter Conversion</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Nutrient Inter Conversion
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Nutrient Name</label>
                                        </div>
                                        <div class="col-md-10">
                                            <select select2 class="form-control" ng-model="ddlNutrient" ng-init="ddlNutrient=-1" required="">
                                                <option value="-1">--Select Nutrient--</option>
                                                <option ng-repeat="list in nutrientInterList" value="{{list.nutrientID}}">
                                                    {{list.nutrientName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Inter Conversion</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select select2 class="form-control" ng-model="ddlInter" ng-init="ddlInter=-1" required="">
                                                <option value="-1">--Select Inter Conversion--</option>
                                                <option ng-repeat="list in nutrientInterList" value="{{list.nutrientID}}">
                                                    {{list.nutrientName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" class="form-control" value="1" ng-model="txtRatio" placeholder="Ratio" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12" margin-left>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="button" class="btn btn-success" value="Save" ng-click="saveNutrientInterConversion();" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Nutrient Inter Conversion List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class=" form-row col-md-12">
                                <div class="row">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableTroughValue" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Nutrient Name</th>
                                            <th>Inter Conversion Name</th>
                                            <th>Ratio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in interConversionList | filter : search" ng-class-odd="'striped'">
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="deleteNutrientInterConversion(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            <td>{{list.nutrientName}}</td>
                                            <td>{{list.interConversionName}}</td>
                                            <td>{{list.conversionRatio}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
