
<div class="container-fluid">

    <h2>Pathway To Do / Not To Do</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Add Pathway To Do / Not To Do
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-2">Disease</div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="ddlPathway" ng-model="ddlPathway" ng-init="ddlPathway=0" ng-change="getReceptor()">
                                            <option value="0">--Select--</option>
                                            <option ng-repeat="list in pathwayList" value="{{list.pathwayId}}">
                                                {{list.pathwayName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">Process</div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="ddlReceptor" ng-model="ddlReceptor" ng-init="ddlReceptor=0">
                                            <option value="0">--Select Process--</option>
                                            <option ng-repeat="list in phenomenonList" value="{{list.receptorId}}">
                                                {{list.receptorName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-2">To Do</div>
                                    <div class="col-md-10">
                                        <textarea type="text" class="form-control" ng-model="txtToDo" placeholder="To Do"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-2">Not To Do</div>
                                    <div class="col-md-10">
                                        <textarea type="text" class="form-control" ng-model="txtNotToDo" placeholder="Not To Do"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="button" class="btn btn-success" value="Save" ng-click="save()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Pathway To Do / Not To Do List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableCalculatorMaster" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Disease</th>
                                            <th>Process</th>
                                            <th>To Do</th>
                                            <th>Not To Do</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in pathwayToDoNotToDoList | filter : search" ng-class-odd="'striped'">
                                            <td>{{list.pathwayName}}</td>
                                            <td>{{list.receptorName}}</td>
                                            <td>{{list.toDo}}</td>
                                            <td>{{list.notToDo}}</td>
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="delete(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>