
<div class="container-fluid">
    <h2>Percentage Setting Of Marker</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Percentage Setting Of Marker
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-1">
                                            <label>Disease</label>
                                        </div>
                                        <div class="col-md-11">
                                            <select select2 class="form-control" id="ddlDisease" ng-model="ddlDisease" ng-init="ddlDisease=-1" required="" ng-change="getProcess(ddlDisease);">
                                                <option value="-1">--Select Disease--</option>
                                                <option ng-repeat="list in headerMaster" value="{{list.id}}">
                                                    {{list.problemName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-1">
                                            <label>Process</label>
                                        </div>
                                        <div class="col-md-5">
                                            <select  class="form-control" id="ddlProcess" ng-model="ddlProcess" ng-init="ddlProcess=-1" required="" ng-change="getPhenomena(ddlProcess,'');">
                                                <option value="-1">--Select Process--</option>
                                                <option ng-repeat="list in rankMaster" value="{{list.id}}" ng-selected="{{list.id==ddlProcess}}">
                                                    {{list.rankName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Phenomenon</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select  class="form-control" id="ddlPhenomenon" ng-model="ddlPhenomenon" ng-init="ddlPhenomenon=-1" required="" ng-change="getPhenomena('',ddlPhenomenon);">
                                                <option value="-1">--Select Phenomenon--</option>
                                                <option ng-repeat="list in phenomenon" value="{{list.id}}" ng-selected="{{list.id==ddlPhenomenon}}">
                                                    {{list.phenomenon}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 noPadding" style="padding-left: 11px;">
                                        <div class="col-md-1">
                                            <label>Marker</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select  class="form-control" id="ddlMarker" ng-model="ddlMarker" ng-init="ddlMarker=-1" required="">
                                                <option value="-1">--Select Marker--</option>
                                                <option ng-repeat="list in flowDiagram" value="{{list.id}}" ng-selected="{{list.id==ddlMarker}}">
                                                    {{list.nutrientName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <label> Type </label>
                                        </div>
                                        <div class="col-md-2" >
                                            <select class="form-control" id="ddlType" ng-model="ddlType" ng-init="ddlType=-1" required="">
                                                <option value="-1">--Select Type--</option>
                                                <option value="H" selected>
                                                    Harmful
                                                </option>
                                                <option value="B">
                                                    Benifitial
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Percentage</label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <input type="number" class="form-control" placeholder="Percentage" aria-describedby="basic-addon2" ng-model="txtPercentage">
                                                <span class="input-group-addon" id="basic-addon2"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-xs btn-info" ng-click="AddMarker()" style="margin-top:5px;" ng-disabled="isDisabled">
                                                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                                            </button>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group col-md-12" style="margin-top:10px">
                                        <div class="row" ng-if="markerList.length>0">
                                            <table id="tableCalculators" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Marker</th>
                                                        <th>Type</th>
                                                        <th>Percentage</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="list in markerList" ng-class-odd="'striped'">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{list.markerName}}</td>
                                                        <td>{{list.typess}}</td>
                                                        <td>{{list.percentage}}</td>
                                                        <td><a href="" ng-click="deleteMarker($index)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12" margin-left>
                                        <div class="row">
                                            <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="savePercentageSettingOfMarker();" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Percentage Setting Of Marker List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class=" form-row col-md-12">
                                <div class="row">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableTroughValue" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Disease</th>
                                            <th>Process</th>
                                            <th>Phenomenon</th>
                                            <th>Marker</th>
                                            <th>Type</th>
                                            <th>Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in percentageSettingOfMarkerList" ng-class-odd="'striped'">
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="deletePercentageSettingOfMarker(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            <td>{{list.diseaseName}}</td>
                                            <td>{{list.processName}}</td>
                                            <td>{{list.phenomeName}}</td>
                                            <td>{{list.markerName}}</td>
                                            <td>{{list.typess}}</td>
                                            <td>{{list.percentage}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
