

<div class="container-fluid">
    <h2>Problem Attribute Value</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Add Problem Attribute Value
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">                                  
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlAttribute" ng-model="ddlAttribute" ng-init="ddlAttribute=-1" required="" ng-change="pAttributeValueList();">
                                            <option value="-1">--Select Attribute--</option>
                                            <option ng-repeat="list in ProblemAttributeMasterList" value="{{list.id}}">
                                                {{list.attributeName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea class="form-control" ng-model="txtAttributeValue" placeholder="Attribute Value"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="SaveProblemAttributeValue();" /></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Problem Attribute Value List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableTroughValue" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Attribute</th>
                                            <th>Attribute Value</th>                                        
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in ProblemAttributeValueList | filter : search" ng-class-odd="'striped'">
                                            <td>{{list.attributeName}}</td>
                                            <td>{{list.attributeValue}}</td>                                      
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="DeleteProblemAttributeValue(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>