
<div class="container-fluid">
    <h2>Problem ICD Code</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Assign ICD Code to Problem
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <div class="form-row">

                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select select2 class="form-control" id="ddlProblem" ng-model="ddlProblem" ng-init="ddlProblem=0" required="">
                                            <option value="0">--Select Problem--</option>
                                            <option ng-repeat="list in problemList" value="{{list.id}}">
                                                {{list.problemName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <input icd-auto-complete type="text" class="form-control" ng-model="problemICD" placeholder="ICD Code" />
                                        <!--<select select2 class="form-control" id="ddlICD" ng-model="ddlICD" ng-init="ddlICD=-1" required="">
        <option value="-1">--Select ICD--</option>
        <option ng-repeat="list in ICDList" value="{{list.icdid}}">
            {{list.icdCode}}
        </option>
    </select>-->
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-md-3"><input type="button" class="btn btn-success" value="Save" ng-click="SaveICDProblem();" /></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Problem ICD List
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-row">
                            <div class=" form-row col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon2" ng-model="search">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 padding1rem table table-sm table-responsive table-border" style="max-height:100vh">
                                <table id="tableTroughValue" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Problem Name</th>
                                            <th>ICD Table</th>
                                            <th>ICD Code </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in ICDProblemList | filter : search" ng-class-odd="'striped'">
                                            <td><a href="" ng-click="edit(list.id)" title="Edit"><i class="fa fa-edit"></i></a> | <a href="" ng-click="DeleteProblemICD(list.id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                            <td style="width:30%">{{list.problemName}}</td>
                                            <td>{{list.icdTableID}}</td>
                                            <td>{{list.icdCode}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>