@charset "UTF-8";
@font-face { font-family:"Calibri";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID1") format(svg)}
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.str10 {stroke-width:9;stroke-miterlimit:2.61313}
.str4 {stroke:#2B2A29;stroke-width:141.11;stroke-miterlimit:22.9256}
.str5 {stroke:#393185;stroke-width:141.11;stroke-miterlimit:22.9256}
.str9 {stroke:#2B2A29;stroke-width:26.46;stroke-miterlimit:22.9256}
.str8 {stroke:#2B2A29;stroke-width:26.46;stroke-miterlimit:2.61313}
.str1 {stroke:#2B2A29;stroke-width:70.56;stroke-miterlimit:22.9256}
.str6 {stroke:#2B2A29;stroke-width:25.01;stroke-miterlimit:22.9256}
.str3 {stroke:#2B2A29;stroke-width:25.01;stroke-miterlimit:22.9256}
.str12 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:22.9256}
.str13 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:2.61313}
.str0 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:22.9256}
.str7 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:2.61313}
.str2 {stroke:#1C1B17;stroke-width:20;stroke-miterlimit:22.9256}
.str14 {stroke:#2B2A29;stroke-width:17.64;stroke-miterlimit:22.9256}
.str11 {stroke:#2B2A29;stroke-width:7.62;stroke-miterlimit:2.61313}
.fil3 {fill:none}
.fil41 {fill:none;fill-rule:nonzero}
.fil19 {fill:#FEFEFE}
.fil42 {fill:#FEFEFE}
.fil5 {fill:#FEFEFE}
.fil7 {fill:#2B2A29}
.fil25 {fill:#2B2A29}
.fil38 {fill:#2B2A29}
.fil8 {fill:#2B2A29}
.fil29 {fill:#2B2A29}
.fil32 {fill:#FFED00}
.fil49 {fill:#F5B5D2}
.fil37 {fill:#F5B2B6}
.fil40 {fill:#F5B2B6}
.fil36 {fill:#D19A9D}
.fil34 {fill:#F4A383}
.fil23 {fill:#F197AC}
.fil18 {fill:#F0888B}
.fil35 {fill:#A76281}
.fil28 {fill:#F08365}
.fil11 {fill:#E31E24}
.fil48 {fill:#DF6E1E}
.fil21 {fill:#FAF7D2}
.fil2 {fill:#E483B3}
.fil1 {fill:#F2EB7B}
.fil45 {fill:#D0B857}
.fil39 {fill:#B8C8BA}
.fil50 {fill:#97A59A}
.fil22 {fill:#C9A6CE}
.fil24 {fill:#C8A1CB}
.fil14 {fill:#B1B958}
.fil27 {fill:#A8D4AF}
.fil46 {fill:#B0CB1F}
.fil44 {fill:#9561A4}
.fil0 {fill:#66C3D0}
.fil30 {fill:#4D897C}
.fil47 {fill:#008DD2}
.fil43 {fill:#393185}
.fil26 {fill:#393185}
.fil16 {fill:#1C1B17}
.fil13 {fill:#DAD1FF}
.fil6 {fill:white}
.fil31 {fill:white}
.fil12 {fill:#FEFEFE;fill-rule:nonzero}
.fil4 {fill:#2B2A29;fill-rule:nonzero}
.fil9 {fill:#2B2A29;fill-rule:nonzero}
.fil10 {fill:#E5097F;fill-rule:nonzero}
.fil15 {fill:#E5097F;fill-rule:nonzero}
.fil33 {fill:#E51A4B;fill-rule:nonzero}
.fil20 {fill:#393185;fill-rule:nonzero}
.fil17 {fill:#1C1B17;fill-rule:nonzero}
.fnt54 {font-weight:bold;font-size:394.91px;font-family:'Arial'}
.fnt2 {font-weight:bold;font-size:394.94px;font-family:'Arial'}
.fnt40 {font-weight:bold;font-size:394.94px;font-family:'Arial'}
.fnt45 {font-weight:bold;font-size:394.94px;font-family:'Arial'}
.fnt122 {font-weight:bold;font-size:394.94px;font-family:'Arial'}
.fnt137 {font-weight:bold;font-size:394.94px;font-family:'Arial'}
.fnt75 {font-weight:bold;font-size:605.02px;font-family:'Arial'}
.fnt67 {font-weight:bold;font-size:628.57px;font-family:'Arial'}
.fnt90 {font-weight:bold;font-size:642.15px;font-family:'Arial'}
.fnt121 {font-weight:bold;font-size:642.15px;font-family:'Arial'}
.fnt71 {font-weight:bold;font-size:649.44px;font-family:'Arial'}
.fnt61 {font-weight:bold;font-size:705.44px;font-family:'Arial'}
.fnt20 {font-weight:bold;font-size:763.19px;font-family:'Arial'}
.fnt38 {font-weight:bold;font-size:794.96px;font-family:'Arial'}
.fnt79 {font-weight:bold;font-size:827.44px;font-family:'Arial'}
.fnt110 {font-weight:bold;font-size:829.49px;font-family:'Arial'}
.fnt44 {font-weight:bold;font-size:846.65px;font-family:'Arial'}
.fnt7 {font-weight:bold;font-size:846.65px;font-family:'Calibri'}
.fnt9 {font-weight:bold;font-size:846.65px;font-family:'Calibri'}
.fnt1 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt24 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt29 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt43 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt16 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt22 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt25 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt27 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt30 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt0 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt14 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt17 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt21 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt23 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt26 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt6 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt28 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt32 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt35 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt37 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt42 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt93 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt96 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt99 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt103 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt107 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt8 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt111 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt113 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt116 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt118 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt125 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt127 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt133 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt136 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt10 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt12 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt124 {font-weight:bold;font-size:846.67px;font-family:'Calibri'}
.fnt126 {font-weight:bold;font-size:846.67px;font-family:'Calibri'}
.fnt129 {font-weight:bold;font-size:846.67px;font-family:'Calibri'}
.fnt132 {font-weight:bold;font-size:846.67px;font-family:'Calibri'}
.fnt134 {font-weight:bold;font-size:846.67px;font-family:'Calibri'}
.fnt87 {font-weight:bold;font-size:846.68px;font-family:'Arial'}
.fnt128 {font-weight:bold;font-size:846.68px;font-family:'Arial'}
.fnt131 {font-weight:bold;font-size:846.68px;font-family:'Arial'}
.fnt135 {font-weight:bold;font-size:846.68px;font-family:'Arial'}
.fnt72 {font-weight:bold;font-size:856.96px;font-family:'Arial'}
.fnt52 {font-weight:bold;font-size:932.77px;font-family:'Arial'}
.fnt56 {font-weight:bold;font-size:932.78px;font-family:'Arial'}
.fnt88 {font-weight:bold;font-size:932.8px;font-family:'Arial'}
.fnt139 {font-weight:bold;font-size:932.8px;font-family:'Arial'}
.fnt89 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt94 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt97 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt101 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt104 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt106 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt109 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt114 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt119 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt130 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt138 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt70 {font-weight:bold;font-size:936.63px;font-family:'Arial'}
.fnt84 {font-weight:bold;font-size:969.11px;font-family:'Arial'}
.fnt60 {font-weight:bold;font-size:974.17px;font-family:'Arial'}
.fnt76 {font-weight:bold;font-size:992.92px;font-family:'Arial'}
.fnt63 {font-weight:bold;font-size:1031.52px;font-family:'Arial'}
.fnt66 {font-weight:bold;font-size:1031.56px;font-family:'Arial'}
.fnt58 {font-weight:bold;font-size:1031.58px;font-family:'Arial'}
.fnt80 {font-weight:bold;font-size:1047.6px;font-family:'Arial'}
.fnt55 {font-weight:bold;font-size:1058.3px;font-family:'Arial'}
.fnt4 {font-weight:bold;font-size:1058.33px;font-family:'Arial'}
.fnt39 {font-weight:bold;font-size:1058.33px;font-family:'Arial'}
.fnt46 {font-weight:bold;font-size:1058.33px;font-family:'Arial'}
.fnt140 {font-weight:bold;font-size:1058.33px;font-family:'Arial'}
.fnt19 {font-weight:bold;font-size:1058.33px;font-family:'Calibri'}
.fnt34 {font-weight:bold;font-size:1058.33px;font-family:'Calibri'}
.fnt82 {font-weight:bold;font-size:1093.93px;font-family:'Arial'}
.fnt78 {font-weight:bold;font-size:1093.95px;font-family:'Arial'}
.fnt68 {font-weight:bold;font-size:1136.52px;font-family:'Arial'}
.fnt62 {font-weight:bold;font-size:1136.54px;font-family:'Arial'}
.fnt53 {font-weight:bold;font-size:1234.69px;font-family:'Arial'}
.fnt86 {font-weight:bold;font-size:1234.72px;font-family:'Arial'}
.fnt74 {font-weight:bold;font-size:1241.15px;font-family:'Arial'}
.fnt69 {font-weight:bold;font-size:1289.47px;font-family:'Arial'}
.fnt50 {font-weight:bold;font-size:1297.37px;font-family:'Arial'}
.fnt15 {font-weight:bold;font-size:1461.29px;font-family:'Calibri'}
.fnt33 {font-weight:bold;font-size:1461.29px;font-family:'Calibri'}
.fnt47 {font-weight:bold;font-size:1477.94px;font-family:'Arial'}
.fnt65 {font-weight:bold;font-size:1504.39px;font-family:'Arial'}
.fnt3 {font-weight:bold;font-size:1763.89px;font-family:'Arial'}
.fnt49 {font-weight:bold;font-size:1763.89px;font-family:'Arial'}
.fnt91 {font-weight:bold;font-size:1788.39px;font-family:'Arial'}
.fnt5 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt18 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt31 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt36 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt41 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt92 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt95 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt98 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt102 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt105 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt108 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt112 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt115 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt117 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt11 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt13 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt77 {font-weight:bold;font-size:2068.61px;font-family:'Arial'}
.fnt73 {font-weight:bold;font-size:2149.15px;font-family:'Arial'}
.fnt123 {font-weight:bold;font-size:2469.44px;font-family:'Arial'}
.fnt142 {font-weight:bold;font-size:2469.44px;font-family:'Arial'}
.fnt64 {font-weight:bold;font-size:2578.99px;font-family:'Arial'}
.fnt57 {font-weight:bold;font-size:6526.37px;font-family:'Arial'}
.fnt141 {font-weight:bold;font-size:6526.38px;font-family:'Arial'}
.fnt48 {font-weight:bold;font-size:6526.39px;font-family:'Arial'}
.fnt85 {font-weight:bold;font-size:7653.88px;font-family:'Arial'}
.fnt51 {font-weight:bold;font-size:72652.44px;font-family:'Arial'}
.fnt81 {font-weight:bold;font-size:413.72px;font-family:'Arial';baseline-shift:super}
.fnt100 {font-weight:bold;font-size:423.34px;font-family:'Arial';baseline-shift:super}
.fnt120 {font-weight:bold;font-size:423.34px;font-family:'Arial';baseline-shift:super}
.fnt59 {font-weight:bold;font-size:515.79px;font-family:'Arial';baseline-shift:super}
.fnt83 {font-weight:bold;font-size:496.46px;font-family:'Arial';baseline-shift:sub}
