@charset "UTF-8";
@font-face { font-family:"Calibri";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID51") format(svg)}
@font-face { font-family:"Segoe Print";font-variant:normal;font-weight:normal;src:url("#FontID46") format(svg)}
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID45") format(svg)}
@font-face { font-family:"Calibri";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID1") format(svg)}
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.str11 {stroke-width:6.17;stroke-miterlimit:2.61313}
.str6 {stroke:#393185;stroke-width:141.11;stroke-miterlimit:22.9256}
.str10 {stroke:#2B2A29;stroke-width:26.46;stroke-miterlimit:22.9256}
.str9 {stroke:#2B2A29;stroke-width:26.46;stroke-miterlimit:2.61313}
.str25 {stroke:#2B2A29;stroke-width:423.33;stroke-miterlimit:22.9256}
.str18 {stroke:#C14622;stroke-width:564.44;stroke-miterlimit:22.9256}
.str22 {stroke:#E483B3;stroke-width:564.44;stroke-miterlimit:22.9256}
.str21 {stroke:#D05975;stroke-width:564.44;stroke-miterlimit:22.9256}
.str19 {stroke:#A18315;stroke-width:564.44;stroke-miterlimit:22.9256}
.str23 {stroke:#F2EB7B;stroke-width:564.44;stroke-miterlimit:22.9256}
.str20 {stroke:#AC569B;stroke-width:564.44;stroke-miterlimit:22.9256}
.str1 {stroke:#4A634D;stroke-width:564.44;stroke-miterlimit:22.9256}
.str17 {stroke:#3CAB3D;stroke-width:564.44;stroke-miterlimit:22.9256}
.str27 {stroke:#35983A;stroke-width:564.44;stroke-miterlimit:22.9256}
.str26 {stroke:#069191;stroke-width:564.44;stroke-miterlimit:22.9256}
.str24 {stroke:#6553B0;stroke-width:564.44;stroke-miterlimit:22.9256}
.str28 {stroke:#B31057;stroke-width:564.44;stroke-miterlimit:22.9256}
.str3 {stroke:#2B2A29;stroke-width:70.56;stroke-miterlimit:22.9256}
.str16 {stroke:#2B2A29;stroke-width:846.67;stroke-miterlimit:22.9256}
.str7 {stroke:#2B2A29;stroke-width:25.01;stroke-miterlimit:22.9256}
.str5 {stroke:#2B2A29;stroke-width:25.01;stroke-miterlimit:22.9256}
.str13 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:22.9256}
.str14 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:2.61313}
.str2 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:22.9256}
.str8 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:2.61313}
.str4 {stroke:#1C1B17;stroke-width:20;stroke-miterlimit:22.9256}
.str0 {stroke:#2B2A29;stroke-width:17.64;stroke-miterlimit:22.9256}
.str15 {stroke:#2B2A29;stroke-width:17.64;stroke-miterlimit:22.9256}
.str12 {stroke:#2B2A29;stroke-width:7.62;stroke-miterlimit:2.61313}
.fil17 {fill:none}
.fil57 {fill:none;fill-rule:nonzero}
.fil15 {fill:#FEFEFE}
.fil58 {fill:#FEFEFE}
.fil23 {fill:#FEFEFE}
.fil16 {fill:#2B2A29}
.fil38 {fill:#2B2A29}
.fil52 {fill:#2B2A29}
.fil18 {fill:#2B2A29}
.fil42 {fill:#2B2A29}
.fil45 {fill:#FFED00}
.fil77 {fill:#FADADA}
.fil10 {fill:#F7C1BF}
.fil47 {fill:#F7BDA4}
.fil37 {fill:#F5B6C4}
.fil51 {fill:#F5B2B6}
.fil56 {fill:#F5B2B6}
.fil50 {fill:#D19A9D}
.fil67 {fill:#F197AC}
.fil33 {fill:#F0888B}
.fil48 {fill:#A76281}
.fil41 {fill:#F08365}
.fil64 {fill:#ED713D}
.fil27 {fill:#E31E24}
.fil22 {fill:#F3B1D0}
.fil55 {fill:#DF6E1E}
.fil9 {fill:#FDF5AA}
.fil36 {fill:#FAF7D2}
.fil21 {fill:#FAF29F}
.fil68 {fill:#E483B3}
.fil14 {fill:#ECD370}
.fil2 {fill:#E073AA}
.fil65 {fill:#C8AB33}
.fil69 {fill:#F2EB7B}
.fil78 {fill:#E9F6FD}
.fil79 {fill:#EAF4EB}
.fil7 {fill:#E8F1DD}
.fil6 {fill:#DFC1DD}
.fil13 {fill:#DBBCDB}
.fil3 {fill:#DBCDE6}
.fil19 {fill:#DDE9DF}
.fil61 {fill:#97A59A}
.fil1 {fill:#C9A6CE}
.fil66 {fill:#C8A1CB}
.fil40 {fill:#C1DFC3}
.fil5 {fill:#BFDCB5}
.fil0 {fill:#B1B958}
.fil4 {fill:#B2DFF9}
.fil8 {fill:#B3C5E7}
.fil11 {fill:#AFD5AB}
.fil53 {fill:#B0CB1F}
.fil63 {fill:#A1CE97}
.fil20 {fill:#96A998}
.fil60 {fill:#9561A4}
.fil49 {fill:#66C3D0}
.fil43 {fill:#4D897C}
.fil71 {fill:#4BB9B9}
.fil72 {fill:#5CB248}
.fil73 {fill:#009846}
.fil54 {fill:#008DD2}
.fil59 {fill:#393185}
.fil39 {fill:#393185}
.fil31 {fill:#1C1B17}
.fil70 {fill:#AC9DE8}
.fil34 {fill:#DAD1FF}
.fil29 {fill:#E5DEFF}
.fil80 {fill:#ED428F}
.fil76 {fill:#EF8BB8}
.fil62 {fill:#F7ADAF}
.fil75 {fill:yellow}
.fil74 {fill:yellow}
.fil24 {fill:white}
.fil44 {fill:white}
.fil28 {fill:#FEFEFE;fill-rule:nonzero}
.fil12 {fill:#2B2A29;fill-rule:nonzero}
.fil25 {fill:#2B2A29;fill-rule:nonzero}
.fil26 {fill:#E5097F;fill-rule:nonzero}
.fil30 {fill:#E5097F;fill-rule:nonzero}
.fil46 {fill:#E51A4B;fill-rule:nonzero}
.fil35 {fill:#393185;fill-rule:nonzero}
.fil32 {fill:#1C1B17;fill-rule:nonzero}
.fnt100 {font-weight:bold;font-size:575.87px;font-family:'Arial'}
.fnt80 {font-weight:bold;font-size:575.88px;font-family:'Arial'}
.fnt118 {font-weight:bold;font-size:575.88px;font-family:'Arial'}
.fnt44 {font-weight:bold;font-size:575.89px;font-family:'Arial'}
.fnt49 {font-weight:bold;font-size:575.89px;font-family:'Arial'}
.fnt4 {font-weight:bold;font-size:575.9px;font-family:'Arial'}
.fnt78 {font-weight:bold;font-size:575.9px;font-family:'Arial'}
.fnt137 {font-weight:bold;font-size:575.9px;font-family:'Arial'}
.fnt205 {font-weight:bold;font-size:631.87px;font-family:'Arial'}
.fnt213 {font-weight:bold;font-size:631.87px;font-family:'Arial'}
.fnt117 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt135 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt97 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt98 {font-weight:bold;font-size:846.68px;font-family:'Arial'}
.fnt60 {font-weight:bold;font-size:879.94px;font-family:'Arial'}
.fnt123 {font-weight:bold;font-size:932.8px;font-family:'Arial'}
.fnt105 {font-weight:bold;font-size:932.81px;font-family:'Arial'}
.fnt99 {font-weight:bold;font-size:936.41px;font-family:'Arial'}
.fnt204 {font-weight:bold;font-size:1093.7px;font-family:'Arial'}
.fnt23 {font-weight:bold;font-size:1112.97px;font-family:'Arial'}
.fnt102 {font-weight:bold;font-size:1126.16px;font-family:'Arial'}
.fnt85 {font-weight:bold;font-size:1149.62px;font-family:'Arial'}
.fnt41 {font-weight:bold;font-size:1159.29px;font-family:'Arial'}
.fnt215 {font-weight:bold;font-size:1178.16px;font-family:'Arial'}
.fnt81 {font-weight:bold;font-size:1199.44px;font-family:'Arial'}
.fnt197 {font-weight:bold;font-size:1199.44px;font-family:'Arial'}
.fnt48 {font-weight:bold;font-size:1234.69px;font-family:'Arial'}
.fnt10 {font-weight:bold;font-size:1234.69px;font-family:'Calibri'}
.fnt12 {font-weight:bold;font-size:1234.69px;font-family:'Calibri'}
.fnt7 {font-weight:bold;font-size:1234.7px;font-family:'Arial'}
.fnt27 {font-weight:bold;font-size:1234.7px;font-family:'Arial'}
.fnt32 {font-weight:bold;font-size:1234.7px;font-family:'Arial'}
.fnt47 {font-weight:bold;font-size:1234.7px;font-family:'Arial'}
.fnt119 {font-weight:bold;font-size:1234.7px;font-family:'Arial'}
.fnt19 {font-weight:bold;font-size:1234.7px;font-family:'Calibri'}
.fnt25 {font-weight:bold;font-size:1234.7px;font-family:'Calibri'}
.fnt28 {font-weight:bold;font-size:1234.7px;font-family:'Calibri'}
.fnt30 {font-weight:bold;font-size:1234.7px;font-family:'Calibri'}
.fnt33 {font-weight:bold;font-size:1234.7px;font-family:'Calibri'}
.fnt3 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt17 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt20 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt24 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt26 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt29 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt9 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt31 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt35 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt38 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt40 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt46 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt107 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt109 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt113 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt115 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt11 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt126 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt128 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt130 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt13 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt15 {font-weight:bold;font-size:1234.71px;font-family:'Arial'}
.fnt106 {font-weight:bold;font-size:1234.71px;font-family:'Calibri'}
.fnt108 {font-weight:bold;font-size:1234.71px;font-family:'Calibri'}
.fnt110 {font-weight:bold;font-size:1234.71px;font-family:'Calibri'}
.fnt112 {font-weight:bold;font-size:1234.71px;font-family:'Calibri'}
.fnt114 {font-weight:bold;font-size:1234.71px;font-family:'Calibri'}
.fnt125 {font-weight:bold;font-size:1234.71px;font-family:'Calibri'}
.fnt127 {font-weight:bold;font-size:1234.71px;font-family:'Calibri'}
.fnt129 {font-weight:bold;font-size:1234.71px;font-family:'Calibri'}
.fnt194 {font-weight:normal;font-size:1234.72px;font-family:'Arial'}
.fnt196 {font-weight:normal;font-size:1234.72px;font-family:'Arial'}
.fnt193 {font-weight:normal;font-size:1234.72px;font-family:'Calibri'}
.fnt195 {font-weight:normal;font-size:1234.72px;font-family:'Calibri'}
.fnt2 {font-weight:bold;font-size:1234.72px;font-family:'Arial'}
.fnt51 {font-weight:bold;font-size:1234.72px;font-family:'Arial'}
.fnt116 {font-weight:bold;font-size:1234.72px;font-family:'Arial'}
.fnt136 {font-weight:bold;font-size:1234.72px;font-family:'Arial'}
.fnt201 {font-weight:bold;font-size:1234.72px;font-family:'Arial'}
.fnt124 {font-weight:bold;font-size:1340.56px;font-family:'Arial'}
.fnt133 {font-weight:bold;font-size:1340.56px;font-family:'Arial'}
.fnt208 {font-weight:bold;font-size:1353.32px;font-family:'Arial'}
.fnt212 {font-weight:bold;font-size:1353.32px;font-family:'Arial'}
.fnt207 {font-weight:bold;font-size:1354.61px;font-family:'Arial'}
.fnt214 {font-weight:bold;font-size:1354.61px;font-family:'Arial'}
.fnt206 {font-weight:bold;font-size:1354.62px;font-family:'Arial'}
.fnt211 {font-weight:bold;font-size:1354.62px;font-family:'Arial'}
.fnt95 {font-weight:bold;font-size:1360.29px;font-family:'Arial'}
.fnt83 {font-weight:bold;font-size:1360.31px;font-family:'Arial'}
.fnt134 {font-weight:bold;font-size:1360.31px;font-family:'Arial'}
.fnt82 {font-weight:bold;font-size:1360.32px;font-family:'Arial'}
.fnt111 {font-weight:bold;font-size:1360.32px;font-family:'Arial'}
.fnt121 {font-weight:bold;font-size:1360.32px;font-family:'Arial'}
.fnt131 {font-weight:bold;font-size:1360.32px;font-family:'Arial'}
.fnt104 {font-weight:bold;font-size:1360.33px;font-family:'Arial'}
.fnt72 {font-weight:bold;font-size:1400.7px;font-family:'Arial'}
.fnt76 {font-weight:bold;font-size:1447.21px;font-family:'Arial'}
.fnt96 {font-weight:bold;font-size:1543.41px;font-family:'Arial'}
.fnt198 {font-weight:bold;font-size:1543.41px;font-family:'Arial'}
.fnt52 {font-weight:bold;font-size:1543.43px;font-family:'Arial'}
.fnt132 {font-weight:bold;font-size:1543.43px;font-family:'Arial'}
.fnt22 {font-weight:bold;font-size:1543.43px;font-family:'Calibri'}
.fnt37 {font-weight:bold;font-size:1543.43px;font-family:'Calibri'}
.fnt53 {font-weight:bold;font-size:1543.44px;font-family:'Arial'}
.fnt66 {font-weight:bold;font-size:1571.99px;font-family:'Arial'}
.fnt89 {font-weight:bold;font-size:1572.27px;font-family:'Arial'}
.fnt199 {font-weight:bold;font-size:1782.39px;font-family:'Arial'}
.fnt149 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt152 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt154 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt156 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt158 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt161 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt174 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt176 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt178 {font-weight:normal;font-size:1816.91px;font-family:'Arial'}
.fnt155 {font-weight:normal;font-size:1816.91px;font-family:'Calibri'}
.fnt157 {font-weight:normal;font-size:1816.91px;font-family:'Calibri'}
.fnt160 {font-weight:normal;font-size:1816.91px;font-family:'Calibri'}
.fnt175 {font-weight:normal;font-size:1816.91px;font-family:'Calibri'}
.fnt177 {font-weight:normal;font-size:1816.91px;font-family:'Calibri'}
.fnt150 {font-weight:normal;font-size:1816.91px;font-family:'Segoe Print'}
.fnt151 {font-weight:bold;font-size:1816.91px;font-family:'Arial'}
.fnt153 {font-weight:bold;font-size:1816.91px;font-family:'Arial'}
.fnt159 {font-weight:bold;font-size:1816.91px;font-family:'Arial'}
.fnt94 {font-weight:bold;font-size:1841.46px;font-family:'Arial'}
.fnt184 {font-weight:normal;font-size:1869.72px;font-family:'Arial'}
.fnt187 {font-weight:normal;font-size:1869.72px;font-family:'Arial'}
.fnt190 {font-weight:normal;font-size:1869.72px;font-family:'Arial'}
.fnt162 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt164 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt166 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt168 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt170 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt172 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt180 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt183 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt186 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt189 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt192 {font-weight:normal;font-size:1870.36px;font-family:'Arial'}
.fnt165 {font-weight:normal;font-size:1870.36px;font-family:'Calibri'}
.fnt171 {font-weight:normal;font-size:1870.36px;font-family:'Calibri'}
.fnt173 {font-weight:normal;font-size:1870.36px;font-family:'Calibri'}
.fnt179 {font-weight:normal;font-size:1870.36px;font-family:'Calibri'}
.fnt181 {font-weight:normal;font-size:1870.36px;font-family:'Calibri'}
.fnt185 {font-weight:normal;font-size:1870.36px;font-family:'Calibri'}
.fnt188 {font-weight:normal;font-size:1870.36px;font-family:'Calibri'}
.fnt191 {font-weight:normal;font-size:1870.36px;font-family:'Calibri'}
.fnt167 {font-weight:normal;font-size:1870.36px;font-family:'Segoe Print'}
.fnt163 {font-weight:bold;font-size:1870.36px;font-family:'Arial'}
.fnt169 {font-weight:bold;font-size:1870.36px;font-family:'Arial'}
.fnt182 {font-weight:bold;font-size:1870.36px;font-family:'Arial'}
.fnt59 {font-weight:bold;font-size:1886.69px;font-family:'Arial'}
.fnt56 {font-weight:bold;font-size:1886.7px;font-family:'Arial'}
.fnt0 {font-weight:bold;font-size:1886.73px;font-family:'Arial'}
.fnt86 {font-weight:bold;font-size:1886.73px;font-family:'Arial'}
.fnt55 {font-weight:bold;font-size:1892.03px;font-family:'Arial'}
.fnt77 {font-weight:bold;font-size:1909.69px;font-family:'Arial'}
.fnt200 {font-weight:bold;font-size:1950.93px;font-family:'Arial'}
.fnt90 {font-weight:bold;font-size:1990.64px;font-family:'Arial'}
.fnt57 {font-weight:bold;font-size:2078.58px;font-family:'Arial'}
.fnt62 {font-weight:bold;font-size:2078.62px;font-family:'Arial'}
.fnt92 {font-weight:bold;font-size:2078.66px;font-family:'Arial'}
.fnt88 {font-weight:bold;font-size:2078.68px;font-family:'Arial'}
.fnt75 {font-weight:bold;font-size:2087.23px;font-family:'Arial'}
.fnt18 {font-weight:bold;font-size:2131.09px;font-family:'Calibri'}
.fnt36 {font-weight:bold;font-size:2131.09px;font-family:'Calibri'}
.fnt65 {font-weight:bold;font-size:2170.88px;font-family:'Arial'}
.fnt68 {font-weight:bold;font-size:2298.7px;font-family:'Arial'}
.fnt71 {font-weight:bold;font-size:2298.8px;font-family:'Arial'}
.fnt63 {font-weight:bold;font-size:2298.84px;font-family:'Arial'}
.fnt203 {font-weight:bold;font-size:2336.05px;font-family:'Arial'}
.fnt61 {font-weight:bold;font-size:2358.42px;font-family:'Arial'}
.fnt84 {font-weight:bold;font-size:2358.48px;font-family:'Arial'}
.fnt209 {font-weight:bold;font-size:2504.42px;font-family:'Arial'}
.fnt73 {font-weight:bold;font-size:2532.76px;font-family:'Arial'}
.fnt67 {font-weight:bold;font-size:2532.81px;font-family:'Arial'}
.fnt101 {font-weight:bold;font-size:2608.14px;font-family:'Arial'}
.fnt8 {font-weight:bold;font-size:2751.42px;font-family:'Calibri'}
.fnt21 {font-weight:bold;font-size:2751.42px;font-family:'Calibri'}
.fnt34 {font-weight:bold;font-size:2751.42px;font-family:'Calibri'}
.fnt39 {font-weight:bold;font-size:2751.42px;font-family:'Calibri'}
.fnt45 {font-weight:bold;font-size:2751.42px;font-family:'Calibri'}
.fnt14 {font-weight:bold;font-size:2751.42px;font-family:'Calibri'}
.fnt16 {font-weight:bold;font-size:2751.42px;font-family:'Calibri'}
.fnt58 {font-weight:bold;font-size:2751.51px;font-family:'Arial'}
.fnt1 {font-weight:bold;font-size:2751.58px;font-family:'Arial'}
.fnt74 {font-weight:bold;font-size:2873.55px;font-family:'Arial'}
.fnt210 {font-weight:bold;font-size:3018.5px;font-family:'Calibri'}
.fnt6 {font-weight:bold;font-size:3139.71px;font-family:'Arial'}
.fnt43 {font-weight:bold;font-size:3139.71px;font-family:'Arial'}
.fnt50 {font-weight:bold;font-size:3139.71px;font-family:'Arial'}
.fnt42 {font-weight:bold;font-size:3142.78px;font-family:'Arial'}
.fnt70 {font-weight:bold;font-size:3352.56px;font-family:'Arial'}
.fnt103 {font-weight:bold;font-size:3601.42px;font-family:'Arial'}
.fnt79 {font-weight:bold;font-size:3601.47px;font-family:'Arial'}
.fnt138 {font-weight:bold;font-size:3601.47px;font-family:'Arial'}
.fnt87 {font-weight:bold;font-size:3930.9px;font-family:'Arial'}
.fnt5 {font-weight:bold;font-size:5291.67px;font-family:'Arial'}
.fnt54 {font-weight:bold;font-size:5291.67px;font-family:'Arial'}
.fnt141 {font-weight:bold;font-size:5291.67px;font-family:'Arial'}
.fnt146 {font-weight:bold;font-size:5468.06px;font-family:'Arial'}
.fnt145 {font-weight:bold;font-size:5496.46px;font-family:'Arial'}
.fnt69 {font-weight:bold;font-size:5747.46px;font-family:'Arial'}
.fnt202 {font-weight:bold;font-size:6834.65px;font-family:'Arial'}
.fnt148 {font-weight:bold;font-size:9172.22px;font-family:'Arial'}
.fnt139 {font-weight:bold;font-size:9191.67px;font-family:'Arial'}
.fnt144 {font-weight:bold;font-size:9489.72px;font-family:'Arial'}
.fnt142 {font-weight:bold;font-size:9518.25px;font-family:'Arial'}
.fnt147 {font-weight:bold;font-size:9518.26px;font-family:'Arial'}
.fnt143 {font-weight:bold;font-size:9518.28px;font-family:'Arial'}
.fnt216 {font-weight:bold;font-size:9518.28px;font-family:'Arial'}
.fnt140 {font-weight:bold;font-size:14172.27px;font-family:'Arial'}
.fnt120 {font-weight:bold;font-size:617.35px;font-family:'Arial';baseline-shift:super}
.fnt91 {font-weight:bold;font-size:786.14px;font-family:'Arial';baseline-shift:super}
.fnt64 {font-weight:bold;font-size:1149.42px;font-family:'Arial';baseline-shift:super}
.fnt122 {font-weight:bold;font-size:680.16px;font-family:'Arial';baseline-shift:sub}
.fnt93 {font-weight:bold;font-size:943.37px;font-family:'Arial';baseline-shift:sub}
