@charset "UTF-8";
@font-face { font-family:"Calibri";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID1") format(svg)}
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.str0 {stroke:#2B2A29;stroke-width:141.11;stroke-miterlimit:22.9256}
.str1 {stroke:#393185;stroke-width:141.11;stroke-miterlimit:22.9256}
.str2 {stroke:#2B2A29;stroke-width:70.56;stroke-miterlimit:22.9256}
.str4 {stroke:#2B2A29;stroke-width:25.01;stroke-miterlimit:22.9256}
.str5 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:22.9256}
.str6 {stroke:#2B2A29;stroke-width:20;stroke-miterlimit:2.61313}
.str3 {stroke:#1C1B17;stroke-width:20;stroke-miterlimit:22.9256}
.fil3 {fill:none}
.fil6 {fill:#FEFEFE}
.fil5 {fill:#FEFEFE}
.fil4 {fill:#2B2A29}
.fil10 {fill:#2B2A29}
.fil15 {fill:#F0888B}
.fil12 {fill:#E31E24}
.fil2 {fill:#FAF7D2}
.fil19 {fill:#C9A6CE}
.fil18 {fill:#B1B958}
.fil17 {fill:#A8D4AF}
.fil1 {fill:#93D5F6}
.fil20 {fill:#66C3D0}
.fil14 {fill:#1C1B17}
.fil0 {fill:#DAD1FF}
.fil11 {fill:white}
.fil13 {fill:#FEFEFE;fill-rule:nonzero}
.fil7 {fill:#2B2A29;fill-rule:nonzero}
.fil8 {fill:#E5097F;fill-rule:nonzero}
.fil9 {fill:#393185;fill-rule:nonzero}
.fil16 {fill:#1C1B17;fill-rule:nonzero}
.fnt2 {font-weight:bold;font-size:394.94px;font-family:'Arial'}
.fnt41 {font-weight:bold;font-size:394.94px;font-family:'Arial'}
.fnt21 {font-weight:bold;font-size:763.19px;font-family:'Arial'}
.fnt40 {font-weight:bold;font-size:794.96px;font-family:'Arial'}
.fnt42 {font-weight:bold;font-size:846.65px;font-family:'Arial'}
.fnt8 {font-weight:bold;font-size:846.65px;font-family:'Calibri'}
.fnt10 {font-weight:bold;font-size:846.65px;font-family:'Calibri'}
.fnt25 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt30 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt43 {font-weight:bold;font-size:846.66px;font-family:'Arial'}
.fnt17 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt23 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt26 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt28 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt32 {font-weight:bold;font-size:846.66px;font-family:'Calibri'}
.fnt1 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt13 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt15 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt18 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt22 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt24 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt4 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt27 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt29 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt34 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt37 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt39 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt7 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt9 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt11 {font-weight:bold;font-size:846.67px;font-family:'Arial'}
.fnt0 {font-weight:bold;font-size:1058.33px;font-family:'Arial'}
.fnt5 {font-weight:bold;font-size:1058.33px;font-family:'Arial'}
.fnt44 {font-weight:bold;font-size:1058.33px;font-family:'Arial'}
.fnt20 {font-weight:bold;font-size:1058.33px;font-family:'Calibri'}
.fnt36 {font-weight:bold;font-size:1058.33px;font-family:'Calibri'}
.fnt16 {font-weight:bold;font-size:1461.29px;font-family:'Calibri'}
.fnt35 {font-weight:bold;font-size:1461.29px;font-family:'Calibri'}
.fnt45 {font-weight:bold;font-size:1477.94px;font-family:'Arial'}
.fnt3 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt14 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt19 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt33 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt38 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt6 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt12 {font-weight:bold;font-size:1886.62px;font-family:'Calibri'}
.fnt31 {font-weight:bold;font-size:423.33px;font-family:'Arial';baseline-shift:sub}
