.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('img/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .6;
}

.icon-info-sign:before {
    content: "\f05a";
    position: absolute;
    font-size: 20px;
    text-align: right;
    right: 5px;
    top: 7px;
    color: red;
}

.plusSymbol:after {
    position: absolute;
    content: '\2719';
    font-size: 20px;
    text-align: right;
    right: 35px;
    top: 3px;
}

.modal-body.popup-decreption {
    position: relative;
    height: 40vh !important;
    max-height: 9650px;
    padding: 15px;
    overflow-y: auto;
    overflow: auto;
    text-align: center;
}


.ft-big {
    font-size: 16px !important;
}


.modal-xl {
    width: 1190px;
    margin: 83px auto;
}
