@charset "UTF-8";
@font-face { font-family:"Arial";font-variant:normal;font-style:normal,italic;font-weight:normal;src:url("#FontID3") format(svg)}
@font-face { font-family:"Arial";font-variant:normal;font-style:italic;font-weight:bold;src:url("#FontID1") format(svg)}
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.str26 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str70 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str80 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str78 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str65 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str63 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str24 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str74 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str22 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str76 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str68 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str72 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str39 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str45 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str47 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str51 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str49 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str43 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str41 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str53 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str57 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str59 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str55 {stroke-width:3.33;stroke-miterlimit:2.61313}
.str12 {stroke-width:3.34;stroke-miterlimit:2.61313}
.str14 {stroke-width:3.34;stroke-miterlimit:2.61313}
.str16 {stroke-width:3.34;stroke-miterlimit:2.61313}
.str18 {stroke-width:3.34;stroke-miterlimit:2.61313}
.str7 {stroke-width:3.34;stroke-miterlimit:2.61313}
.str37 {stroke:#373435;stroke-width:111.11;stroke-miterlimit:22.9256}
.str62 {stroke:#373435;stroke-width:111.11;stroke-miterlimit:2.61313}
.str0 {stroke:#486251;stroke-width:312.69;stroke-miterlimit:2.61313}
.str61 {stroke:#373435;stroke-width:166.67;stroke-miterlimit:22.9256}
.str29 {stroke:#373435;stroke-width:134.42;stroke-miterlimit:22.9256}
.str38 {stroke:#373435;stroke-width:222.22;stroke-miterlimit:22.9256}
.str11 {stroke:#EC268F;stroke-width:222.22;stroke-miterlimit:2.61313}
.str4 {stroke:#373435;stroke-width:67.06;stroke-miterlimit:22.9256}
.str2 {stroke:#373435;stroke-width:67.06;stroke-miterlimit:2.61313}
.str31 {stroke:#373435;stroke-width:134.59;stroke-miterlimit:22.9256}
.str28 {stroke:#373435;stroke-width:277.78;stroke-miterlimit:2.61313}
.str33 {stroke:#ED3237;stroke-width:277.78;stroke-miterlimit:22.9256}
.str5 {stroke:#FEFEFE;stroke-width:67.19;stroke-miterlimit:22.9256}
.str35 {stroke:#373435;stroke-width:67.19;stroke-miterlimit:22.9256}
.str3 {stroke:#373435;stroke-width:67.19;stroke-miterlimit:2.61313}
.str67 {stroke:#373435;stroke-width:83.33;stroke-miterlimit:2.61313}
.str9 {stroke:#373435;stroke-width:138.89;stroke-miterlimit:22.9256}
.str10 {stroke:#373435;stroke-width:138.89;stroke-miterlimit:2.61313}
.str21 {stroke:#373435;stroke-width:138.89;stroke-miterlimit:22.9256}
.str20 {stroke:#EC268F;stroke-width:138.89;stroke-miterlimit:22.9256}
.str36 {stroke:#157962;stroke-width:138.89;stroke-miterlimit:22.9256}
.str32 {stroke:#373435;stroke-width:133.94;stroke-miterlimit:22.9256}
.str30 {stroke:#157962;stroke-width:133.94;stroke-miterlimit:22.9256}
.str1 {stroke:#FEFEFE;stroke-width:133.95;stroke-miterlimit:2.61313}
.str34 {stroke:#373435;stroke-width:133.95;stroke-miterlimit:22.9256}
.str6 {stroke:#FEFEFE;stroke-width:3;stroke-miterlimit:2.61313}
.str54 {stroke:#FEFEFE;stroke-width:4.36;stroke-miterlimit:2.61313}
.str58 {stroke:#FEFEFE;stroke-width:4.36;stroke-miterlimit:2.61313}
.str60 {stroke:#FEFEFE;stroke-width:4.36;stroke-miterlimit:2.61313}
.str56 {stroke:#FEFEFE;stroke-width:4.36;stroke-miterlimit:2.61313}
.str27 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str71 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str81 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str79 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str66 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str64 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str25 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str75 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str23 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str77 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str69 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str73 {stroke:#FEFEFE;stroke-width:2.48;stroke-miterlimit:2.61313}
.str40 {stroke:#FEFEFE;stroke-width:3.65;stroke-miterlimit:2.61313}
.str46 {stroke:#FEFEFE;stroke-width:3.65;stroke-miterlimit:2.61313}
.str48 {stroke:#FEFEFE;stroke-width:3.65;stroke-miterlimit:2.61313}
.str52 {stroke:#FEFEFE;stroke-width:3.65;stroke-miterlimit:2.61313}
.str50 {stroke:#FEFEFE;stroke-width:3.65;stroke-miterlimit:2.61313}
.str44 {stroke:#FEFEFE;stroke-width:2.98;stroke-miterlimit:2.61313}
.str42 {stroke:#FEFEFE;stroke-width:2.98;stroke-miterlimit:2.61313}
.str13 {stroke:#FEFEFE;stroke-width:3;stroke-miterlimit:2.61313}
.str15 {stroke:#FEFEFE;stroke-width:3;stroke-miterlimit:2.61313}
.str17 {stroke:#FEFEFE;stroke-width:3;stroke-miterlimit:2.61313}
.str19 {stroke:#FEFEFE;stroke-width:3;stroke-miterlimit:2.61313}
.str8 {stroke:#FEFEFE;stroke-width:3;stroke-miterlimit:2.61313}
.fil7 {fill:none}
.fil12 {fill:none;fill-rule:nonzero}
.fil24 {fill:#FEFEFE}
.fil5 {fill:#FEFEFE}
.fil2 {fill:#373435}
.fil18 {fill:#373435}
.fil8 {fill:#373435}
.fil41 {fill:#373435}
.fil35 {fill:#FFF212}
.fil6 {fill:#FFF212}
.fil14 {fill:#FAD5E4}
.fil22 {fill:#FABDAE}
.fil27 {fill:#FBB67C}
.fil17 {fill:#F7ADAF}
.fil21 {fill:#CD9295}
.fil20 {fill:#A46080}
.fil25 {fill:#F5886C}
.fil23 {fill:#F48466}
.fil15 {fill:#F181B3}
.fil10 {fill:#ED3237}
.fil43 {fill:#E3E884}
.fil13 {fill:#8B9E93}
.fil44 {fill:#BCBF37}
.fil3 {fill:#C7CDCB}
.fil28 {fill:#B6B1D8}
.fil26 {fill:#9CDBF1}
.fil42 {fill:#A8CF45}
.fil29 {fill:#93D1BA}
.fil4 {fill:#86948D}
.fil45 {fill:#8379B8}
.fil19 {fill:#48887B}
.fil39 {fill:#5EC093}
.fil36 {fill:#00AFEF}
.fil9 {fill:#3E4095}
.fil34 {fill:#201E1E}
.fil38 {fill:#00939E}
.fil30 {fill:#77EAF2}
.fil0 {fill:white}
.fil11 {fill:#FEFEFE;fill-rule:nonzero}
.fil1 {fill:#373435;fill-rule:nonzero}
.fil37 {fill:#373435;fill-rule:nonzero}
.fil32 {fill:#EC268F;fill-rule:nonzero}
.fil31 {fill:#157962;fill-rule:nonzero}
.fil40 {fill:#3E4095;fill-rule:nonzero}
.fil33 {fill:#201E1E;fill-rule:nonzero}
.fil16 {fill:black;fill-opacity:0.000000}
.fnt160 {font-weight:bold;font-size:745.46px;font-family:'Arial'}
.fnt34 {font-weight:bold;font-size:745.46px;font-family:'Arial'}
.fnt27 {font-weight:bold;font-size:827.41px;font-family:'Arial'}
.fnt59 {font-weight:bold;font-size:894.16px;font-family:'Arial'}
.fnt11 {font-weight:bold;font-size:898.87px;font-family:'Arial'}
.fnt26 {font-weight:bold;font-size:993.83px;font-family:'Arial'}
.fnt43 {font-weight:bold;font-size:1066.73px;font-family:'Arial'}
.fnt134 {font-weight:bold;font-size:1076.49px;font-family:'Arial'}
.fnt136 {font-weight:bold;font-size:1087.79px;font-family:'Arial'}
.fnt58 {font-weight:bold;font-size:1093.85px;font-family:'Arial'}
.fnt8 {font-weight:bold;font-size:1111.06px;font-family:'Arial'}
.fnt127 {font-weight:bold;font-size:1129.76px;font-family:'Arial'}
.fnt24 {font-weight:bold;font-size:1129.76px;font-family:'Arial'}
.fnt0 {font-weight:bold;font-size:1129.77px;font-family:'Arial'}
.fnt161 {font-weight:bold;font-size:1129.77px;font-family:'Arial'}
.fnt125 {font-weight:bold;font-size:1129.77px;font-family:'Arial'}
.fnt22 {font-weight:bold;font-size:1151.84px;font-family:'Arial'}
.fnt96 {font-weight:bold;font-size:1152.97px;font-family:'Arial'}
.fnt101 {font-weight:bold;font-size:1170.6px;font-family:'Arial'}
.fnt124 {font-weight:bold;font-size:1175.59px;font-family:'Arial'}
.fnt33 {font-weight:bold;font-size:1182.83px;font-family:'Arial'}
.fnt40 {font-weight:bold;font-size:1189.61px;font-family:'Arial'}
.fnt39 {font-weight:bold;font-size:1211.74px;font-family:'Arial'}
.fnt105 {font-weight:bold;font-size:1213.72px;font-family:'Arial'}
.fnt81 {font-weight:bold;font-size:1220.8px;font-family:'Arial'}
.fnt55 {font-weight:bold;font-size:1234.77px;font-family:'Arial'}
.fnt99 {font-weight:bold;font-size:1235.8px;font-family:'Arial'}
.fnt29 {font-weight:bold;font-size:1239.66px;font-family:'Arial'}
.fnt95 {font-weight:bold;font-size:1243.02px;font-family:'Arial'}
.fnt21 {font-weight:bold;font-size:1247.59px;font-family:'Arial'}
.fnt17 {font-weight:bold;font-size:1250.3px;font-family:'Arial'}
.fnt70 {font-weight:bold;font-size:1252.94px;font-family:'Arial'}
.fnt30 {font-weight:bold;font-size:1263.88px;font-family:'Arial'}
.fnt16 {font-weight:bold;font-size:1264.94px;font-family:'Arial'}
.fnt69 {font-weight:bold;font-size:1274.17px;font-family:'Arial'}
.fnt159 {font-weight:bold;font-size:1274.3px;font-family:'Arial'}
.fnt47 {font-weight:bold;font-size:1291.15px;font-family:'Arial'}
.fnt48 {font-weight:bold;font-size:1296.11px;font-family:'Arial'}
.fnt41 {font-weight:bold;font-size:1299.07px;font-family:'Arial'}
.fnt97 {font-weight:bold;font-size:1303.85px;font-family:'Arial'}
.fnt60 {font-weight:bold;font-size:1306.5px;font-family:'Arial'}
.fnt107 {font-weight:bold;font-size:1311.31px;font-family:'Arial'}
.fnt19 {font-weight:bold;font-size:1316.76px;font-family:'Arial'}
.fnt108 {font-weight:bold;font-size:1318.4px;font-family:'Arial'}
.fnt93 {font-weight:bold;font-size:1320.07px;font-family:'Arial'}
.fnt32 {font-weight:bold;font-size:1321.56px;font-family:'Arial'}
.fnt86 {font-weight:bold;font-size:1325.73px;font-family:'Arial'}
.fnt35 {font-weight:bold;font-size:1328.81px;font-family:'Arial'}
.fnt104 {font-weight:bold;font-size:1333.33px;font-family:'Arial'}
.fnt18 {font-weight:bold;font-size:1334.26px;font-family:'Arial'}
.fnt42 {font-weight:bold;font-size:1343.31px;font-family:'Arial'}
.fnt146 {font-weight:bold;font-size:1347.07px;font-family:'Arial'}
.fnt31 {font-weight:bold;font-size:1347.39px;font-family:'Arial'}
.fnt53 {font-weight:bold;font-size:1347.88px;font-family:'Arial'}
.fnt94 {font-weight:bold;font-size:1352.36px;font-family:'Arial'}
.fnt56 {font-weight:bold;font-size:1361.11px;font-family:'Arial'}
.fnt44 {font-weight:bold;font-size:1362.27px;font-family:'Arial'}
.fnt38 {font-weight:bold;font-size:1362.27px;font-family:'Arial'}
.fnt46 {font-weight:bold;font-size:1362.62px;font-family:'Arial'}
.fnt85 {font-weight:bold;font-size:1364.73px;font-family:'Arial'}
.fnt23 {font-weight:bold;font-size:1367.18px;font-family:'Arial'}
.fnt98 {font-weight:bold;font-size:1371.23px;font-family:'Arial'}
.fnt103 {font-weight:bold;font-size:1371.71px;font-family:'Arial'}
.fnt149 {font-weight:bold;font-size:1375px;font-family:'Arial'}
.fnt151 {font-weight:bold;font-size:1375px;font-family:'Arial'}
.fnt155 {font-weight:bold;font-size:1375px;font-family:'Arial'}
.fnt158 {font-weight:bold;font-size:1375px;font-family:'Arial'}
.fnt67 {font-weight:bold;font-size:1375px;font-family:'Arial'}
.fnt139 {font-weight:bold;font-size:1375px;font-family:'Arial'}
.fnt141 {font-weight:bold;font-size:1375px;font-family:'Arial'}
.fnt144 {font-weight:bold;font-size:1375px;font-family:'Arial'}
.fnt36 {font-weight:bold;font-size:1385.36px;font-family:'Arial'}
.fnt126 {font-weight:bold;font-size:1387.24px;font-family:'Arial'}
.fnt6 {font-weight:bold;font-size:1388.75px;font-family:'Arial'}
.fnt133 {font-weight:bold;font-size:1388.75px;font-family:'Arial'}
.fnt2 {font-weight:bold;font-size:1388.76px;font-family:'Arial'}
.fnt5 {font-weight:bold;font-size:1388.76px;font-family:'Arial'}
.fnt111 {font-weight:bold;font-size:1388.88px;font-family:'Arial'}
.fnt100 {font-weight:bold;font-size:1388.89px;font-family:'Arial'}
.fnt12 {font-weight:bold;font-size:1388.89px;font-family:'Arial'}
.fnt9 {font-weight:bold;font-size:1388.98px;font-family:'Arial'}
.fnt14 {font-weight:bold;font-size:1393.17px;font-family:'Arial'}
.fnt15 {font-weight:bold;font-size:1393.18px;font-family:'Arial'}
.fnt25 {font-weight:bold;font-size:1403.92px;font-family:'Arial'}
.fnt113 {font-weight:bold;font-size:1422.75px;font-family:'Arial'}
.fnt57 {font-weight:bold;font-size:1437.86px;font-family:'Arial'}
.fnt76 {font-weight:bold;font-size:1439.15px;font-family:'Arial'}
.fnt72 {font-weight:bold;font-size:1445.02px;font-family:'Arial'}
.fnt91 {font-weight:bold;font-size:1448.48px;font-family:'Arial'}
.fnt75 {font-weight:bold;font-size:1448.5px;font-family:'Arial'}
.fnt84 {font-weight:bold;font-size:1454.3px;font-family:'Arial'}
.fnt80 {font-weight:bold;font-size:1454.3px;font-family:'Arial'}
.fnt88 {font-weight:bold;font-size:1475.38px;font-family:'Arial'}
.fnt89 {font-weight:bold;font-size:1475.39px;font-family:'Arial'}
.fnt87 {font-weight:bold;font-size:1475.4px;font-family:'Arial'}
.fnt50 {font-weight:bold;font-size:1475.46px;font-family:'Arial'}
.fnt132 {font-weight:bold;font-size:1478.3px;font-family:'Arial'}
.fnt121 {font-weight:bold;font-size:1479.54px;font-family:'Arial'}
.fnt92 {font-weight:bold;font-size:1485.86px;font-family:'Arial'}
.fnt63 {font-weight:bold;font-size:1486.99px;font-family:'Arial'}
.fnt62 {font-weight:bold;font-size:1497.95px;font-family:'Arial'}
.fnt130 {font-weight:bold;font-size:1506.54px;font-family:'Arial'}
.fnt112 {font-weight:bold;font-size:1506.92px;font-family:'Arial'}
.fnt118 {font-weight:bold;font-size:1522.6px;font-family:'Arial'}
.fnt128 {font-weight:bold;font-size:1551.67px;font-family:'Arial'}
.fnt131 {font-weight:bold;font-size:1551.67px;font-family:'Arial'}
.fnt83 {font-weight:bold;font-size:1560.13px;font-family:'Arial'}
.fnt3 {font-weight:bold;font-size:1571.06px;font-family:'Arial'}
.fnt109 {font-weight:bold;font-size:1593.38px;font-family:'Arial'}
.fnt45 {font-weight:bold;font-size:1593.56px;font-family:'Arial'}
.fnt74 {font-weight:bold;font-size:1595.84px;font-family:'Arial'}
.fnt73 {font-weight:bold;font-size:1595.85px;font-family:'Arial'}
.fnt117 {font-weight:bold;font-size:1619.1px;font-family:'Arial'}
.fnt119 {font-weight:bold;font-size:1620.99px;font-family:'Arial'}
.fnt115 {font-weight:bold;font-size:1714.88px;font-family:'Arial'}
.fnt28 {font-weight:bold;font-size:1761.62px;font-family:'Arial'}
.fnt66 {font-weight:bold;font-size:1790.67px;font-family:'Arial'}
.fnt77 {font-weight:bold;font-size:1810.68px;font-family:'Arial'}
.fnt78 {font-weight:bold;font-size:1817.87px;font-family:'Arial'}
.fnt64 {font-weight:bold;font-size:1847.14px;font-family:'Arial'}
.fnt37 {font-weight:bold;font-size:1847.15px;font-family:'Arial'}
.fnt49 {font-weight:bold;font-size:1891.01px;font-family:'Arial'}
.fnt51 {font-weight:bold;font-size:1902.9px;font-family:'Arial'}
.fnt61 {font-weight:bold;font-size:1999.81px;font-family:'Arial'}
.fnt52 {font-weight:bold;font-size:2009.96px;font-family:'Arial'}
.fnt90 {font-weight:bold;font-size:2036.52px;font-family:'Arial'}
.fnt102 {font-weight:bold;font-size:2083.13px;font-family:'Arial'}
.fnt7 {font-weight:bold;font-size:2083.14px;font-family:'Arial'}
.fnt13 {font-weight:bold;font-size:2083.33px;font-family:'Arial'}
.fnt82 {font-weight:bold;font-size:2134.28px;font-family:'Arial'}
.fnt114 {font-weight:bold;font-size:2260.16px;font-family:'Arial'}
.fnt110 {font-weight:bold;font-size:2389.85px;font-family:'Arial'}
.fnt129 {font-weight:bold;font-size:2419.49px;font-family:'Arial'}
.fnt120 {font-weight:bold;font-size:2431.26px;font-family:'Arial'}
.fnt68 {font-weight:bold;font-size:2565.71px;font-family:'Arial'}
.fnt116 {font-weight:bold;font-size:2572.08px;font-family:'Arial'}
.fnt54 {font-weight:bold;font-size:3315.55px;font-family:'Arial'}
.fnt65 {font-weight:bold;font-size:3643.8px;font-family:'Arial'}
.fnt122 {font-weight:bold;font-size:3881.96px;font-family:'Arial'}
.fnt71 {font-weight:bold;font-size:4633.09px;font-family:'Arial'}
.fnt79 {font-weight:bold;font-size:4868.96px;font-family:'Arial'}
.fnt20 {font-weight:bold;font-size:5165.98px;font-family:'Arial'}
.fnt10 {font-weight:bold;font-size:6011.07px;font-family:'Arial'}
.fnt106 {font-weight:bold;font-size:6225.6px;font-family:'Arial'}
.fnt1 {font-weight:bold;font-size:7763.8px;font-family:'Arial'}
.fnt123 {font-weight:bold;font-size:24319.43px;font-family:'Arial'}
.fnt150 {font-style:italic;font-weight:normal;font-size:1375px;font-family:'Arial'}
.fnt153 {font-style:italic;font-weight:normal;font-size:1375px;font-family:'Arial'}
.fnt157 {font-style:italic;font-weight:normal;font-size:1375px;font-family:'Arial'}
.fnt138 {font-style:italic;font-weight:normal;font-size:1375px;font-family:'Arial'}
.fnt140 {font-style:italic;font-weight:normal;font-size:1375px;font-family:'Arial'}
.fnt143 {font-style:italic;font-weight:normal;font-size:1375px;font-family:'Arial'}
.fnt147 {font-style:italic;font-weight:normal;font-size:1375px;font-family:'Arial'}
.fnt4 {font-style:italic;font-weight:bold;font-size:1388.76px;font-family:'Arial'}
.fnt135 {font-weight:bold;font-size:564.88px;font-family:'Arial';baseline-shift:super}
.fnt162 {font-weight:bold;font-size:564.89px;font-family:'Arial';baseline-shift:super}
.fnt152 {font-weight:bold;font-size:687.5px;font-family:'Arial';baseline-shift:super}
.fnt156 {font-weight:bold;font-size:687.5px;font-family:'Arial';baseline-shift:super}
.fnt137 {font-weight:bold;font-size:687.5px;font-family:'Arial';baseline-shift:super}
.fnt142 {font-weight:bold;font-size:687.5px;font-family:'Arial';baseline-shift:super}
.fnt145 {font-weight:bold;font-size:687.5px;font-family:'Arial';baseline-shift:super}
.fnt148 {font-style:italic;font-weight:normal;font-size:687.5px;font-family:'Arial';baseline-shift:super}
.fnt163 {font-weight:bold;font-size:564.89px;font-family:'Arial';baseline-shift:sub}
.fnt154 {font-style:italic;font-weight:normal;font-size:687.5px;font-family:'Arial';baseline-shift:sub}
